{# Strona Główna #}

<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<meta name="description" content=""/>
		<link rel="apple-touch-icon" sizes="180x180" href="{{asset('bundles/jobland/images/favicon/apple-touch-icon.png')}}">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-32x32.png')}}" sizes="32x32">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-16x16.png')}}" sizes="16x16">
		<link rel="manifest" href="{{asset('bundles/jobland/images/favicon/manifest.json')}}">
		<link rel="mask-icon" href="{{asset('bundles/jobland/images/favicon/safari-pinned-tab.svg')}}" color="#6b6b6b">
		<meta name="theme-color" content="#ffffff">
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/style.css')}}" />
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/admin-style.css')}}" />
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/typicons.min.css')}}" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		 <link rel="stylesheet" type="text/css" href="{{asset('bundles/jobland/slick/slick.css')}}"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	</head>
	<body class="home">
		<div class="container-wrapper">
			<div class="container">
				
				{{include('JoblandBundle:Blog:header.html.twig')}}
				
				<div class="banner-wrapper">
					<div class="slick-slides">
						<div class="slide-one"></div>
						<div class="slide-two"></div>
						<div class="slide-three"></div>
					</div>
			
				<div class="banner">
						<h1>Wyszukiwarka ofert pracy</h1>
						<div class="search-job-form-wrapper">
							<div class="search-job-form">
								<form action="{{ path('search') }}">
								<ul>
									<li>
										<input class="text" type="text" name="search[query]" placeholder="Nazwa stanowiska lub słowo kluczowe" />
									</li>
									<li>
										<div class="left-inner-addon ">
												    <i class="ico-PIN"></i>
												  <!--   <input type="text"
												           class="form-control" 
												           name="search[country]"
												           placeholder="Kraj" />  -->
												           <select name="search[country]" id="search-country" class="select" placeholder="Kraj"><option value="">Wszystie kraje</option><option value="AF">Afghanistan</option><option value="AL">Albania</option><option value="DZ">Algeria</option><option value="AS">American Samoa</option><option value="AD">Andorra</option><option value="AO">Angola</option><option value="AI">Anguilla</option><option value="AQ">Antarctica</option><option value="AG">Antigua &amp; Barbuda</option><option value="AR">Argentina</option><option value="AM">Armenia</option><option value="AW">Aruba</option><option value="AC">Ascension Island</option><option value="AU">Australia</option><option value="AT">Austria</option><option value="AZ">Azerbaijan</option><option value="BS">Bahamas</option><option value="BH">Bahrain</option><option value="BD">Bangladesh</option><option value="BB">Barbados</option><option value="BY">Belarus</option><option value="BE">Belgium</option><option value="BZ">Belize</option><option value="BJ">Benin</option><option value="BM">Bermuda</option><option value="BT">Bhutan</option><option value="BO">Bolivia</option><option value="BA">Bosnia &amp; Herzegovina</option><option value="BW">Botswana</option><option value="BR">Brazil</option><option value="IO">British Indian Ocean Territory</option><option value="VG">British Virgin Islands</option><option value="BN">Brunei</option><option value="BG">Bulgaria</option><option value="BF">Burkina Faso</option><option value="BI">Burundi</option><option value="KH">Cambodia</option><option value="CM">Cameroon</option><option value="CA">Canada</option><option value="IC">Canary Islands</option><option value="CV">Cape Verde</option><option value="BQ">Caribbean Netherlands</option><option value="KY">Cayman Islands</option><option value="CF">Central African Republic</option><option value="EA">Ceuta &amp; Melilla</option><option value="TD">Chad</option><option value="CL">Chile</option><option value="CN">China</option><option value="CX">Christmas Island</option><option value="CC">Cocos (Keeling) Islands</option><option value="CO">Colombia</option><option value="KM">Comoros</option><option value="CG">Congo - Brazzaville</option><option value="CD">Congo - Kinshasa</option><option value="CK">Cook Islands</option><option value="CR">Costa Rica</option><option value="HR">Croatia</option><option value="CU">Cuba</option><option value="CW">Curaçao</option><option value="CY">Cyprus</option><option value="CZ">Czech Republic</option><option value="CI">Côte d’Ivoire</option><option value="DK">Denmark</option><option value="DG">Diego Garcia</option><option value="DJ">Djibouti</option><option value="DM">Dominica</option><option value="DO">Dominican Republic</option><option value="EC">Ecuador</option><option value="EG">Egypt</option><option value="SV">El Salvador</option><option value="GQ">Equatorial Guinea</option><option value="ER">Eritrea</option><option value="EE">Estonia</option><option value="ET">Ethiopia</option><option value="FK">Falkland Islands</option><option value="FO">Faroe Islands</option><option value="FJ">Fiji</option><option value="FI">Finland</option><option value="FR">France</option><option value="GF">French Guiana</option><option value="PF">French Polynesia</option><option value="TF">French Southern Territories</option><option value="GA">Gabon</option><option value="GM">Gambia</option><option value="GE">Georgia</option><option value="DE">Germany</option><option value="GH">Ghana</option><option value="GI">Gibraltar</option><option value="GR">Greece</option><option value="GL">Greenland</option><option value="GD">Grenada</option><option value="GP">Guadeloupe</option><option value="GU">Guam</option><option value="GT">Guatemala</option><option value="GG">Guernsey</option><option value="GN">Guinea</option><option value="GW">Guinea-Bissau</option><option value="GY">Guyana</option><option value="HT">Haiti</option><option value="HN">Honduras</option><option value="HK">Hong Kong SAR China</option><option value="HU">Hungary</option><option value="IS">Iceland</option><option value="IN">India</option><option value="ID">Indonesia</option><option value="IR">Iran</option><option value="IQ">Iraq</option><option value="IE">Ireland</option><option value="IM">Isle of Man</option><option value="IL">Israel</option><option value="IT">Italy</option><option value="JM">Jamaica</option><option value="JP">Japan</option><option value="JE">Jersey</option><option value="JO">Jordan</option><option value="KZ">Kazakhstan</option><option value="KE">Kenya</option><option value="KI">Kiribati</option><option value="XK">Kosovo</option><option value="KW">Kuwait</option><option value="KG">Kyrgyzstan</option><option value="LA">Laos</option><option value="LV">Latvia</option><option value="LB">Lebanon</option><option value="LS">Lesotho</option><option value="LR">Liberia</option><option value="LY">Libya</option><option value="LI">Liechtenstein</option><option value="LT">Lithuania</option><option value="LU">Luxembourg</option><option value="MO">Macau SAR China</option><option value="MK">Macedonia</option><option value="MG">Madagascar</option><option value="MW">Malawi</option><option value="MY">Malaysia</option><option value="MV">Maldives</option><option value="ML">Mali</option><option value="MT">Malta</option><option value="MH">Marshall Islands</option><option value="MQ">Martinique</option><option value="MR">Mauritania</option><option value="MU">Mauritius</option><option value="YT">Mayotte</option><option value="MX">Mexico</option><option value="FM">Micronesia</option><option value="MD">Moldova</option><option value="MC">Monaco</option><option value="MN">Mongolia</option><option value="ME">Montenegro</option><option value="MS">Montserrat</option><option value="MA">Morocco</option><option value="MZ">Mozambique</option><option value="MM">Myanmar (Burma)</option><option value="NA">Namibia</option><option value="NR">Nauru</option><option value="NP">Nepal</option><option value="NL">Netherlands</option><option value="NC">New Caledonia</option><option value="NZ">New Zealand</option><option value="NI">Nicaragua</option><option value="NE">Niger</option><option value="NG">Nigeria</option><option value="NU">Niue</option><option value="NF">Norfolk Island</option><option value="KP">North Korea</option><option value="MP">Northern Mariana Islands</option><option value="NO">Norway</option><option value="OM">Oman</option><option value="PK">Pakistan</option><option value="PW">Palau</option><option value="PS">Palestinian Territories</option><option value="PA">Panama</option><option value="PG">Papua New Guinea</option><option value="PY">Paraguay</option><option value="PE">Peru</option><option value="PH">Philippines</option><option value="PN">Pitcairn Islands</option><option value="PL">Poland</option><option value="PT">Portugal</option><option value="PR">Puerto Rico</option><option value="QA">Qatar</option><option value="RO">Romania</option><option value="RU">Russia</option><option value="RW">Rwanda</option><option value="RE">Réunion</option><option value="WS">Samoa</option><option value="SM">San Marino</option><option value="SA">Saudi Arabia</option><option value="SN">Senegal</option><option value="RS">Serbia</option><option value="SC">Seychelles</option><option value="SL">Sierra Leone</option><option value="SG">Singapore</option><option value="SX">Sint Maarten</option><option value="SK">Slovakia</option><option value="SI">Slovenia</option><option value="SB">Solomon Islands</option><option value="SO">Somalia</option><option value="ZA">South Africa</option><option value="GS">South Georgia &amp; South Sandwich Islands</option><option value="KR">South Korea</option><option value="SS">South Sudan</option><option value="ES">Spain</option><option value="LK">Sri Lanka</option><option value="BL">St. Barthélemy</option><option value="SH">St. Helena</option><option value="KN">St. Kitts &amp; Nevis</option><option value="LC">St. Lucia</option><option value="MF">St. Martin</option><option value="PM">St. Pierre &amp; Miquelon</option><option value="VC">St. Vincent &amp; Grenadines</option><option value="SD">Sudan</option><option value="SR">Suriname</option><option value="SJ">Svalbard &amp; Jan Mayen</option><option value="SZ">Swaziland</option><option value="SE">Sweden</option><option value="CH">Switzerland</option><option value="SY">Syria</option><option value="ST">São Tomé &amp; Príncipe</option><option value="TW">Taiwan</option><option value="TJ">Tajikistan</option><option value="TZ">Tanzania</option><option value="TH">Thailand</option><option value="TL">Timor-Leste</option><option value="TG">Togo</option><option value="TK">Tokelau</option><option value="TO">Tonga</option><option value="TT">Trinidad &amp; Tobago</option><option value="TA">Tristan da Cunha</option><option value="TN">Tunisia</option><option value="TR">Turkey</option><option value="TM">Turkmenistan</option><option value="TC">Turks &amp; Caicos Islands</option><option value="TV">Tuvalu</option><option value="UM">U.S. Outlying Islands</option><option value="VI">U.S. Virgin Islands</option><option value="UG">Uganda</option><option value="UA">Ukraine</option><option value="AE">United Arab Emirates</option><option value="GB">United Kingdom</option><option value="US">United States</option><option value="UY">Uruguay</option><option value="UZ">Uzbekistan</option><option value="VU">Vanuatu</option><option value="VA">Vatican City</option><option value="VE">Venezuela</option><option value="VN">Vietnam</option><option value="WF">Wallis &amp; Futuna</option><option value="EH">Western Sahara</option><option value="YE">Yemen</option><option value="ZM">Zambia</option><option value="ZW">Zimbabwe</option><option value="AX">Åland Islands</option></select>
										</div>
									
									</li>
									<li>
										<button></button>
									</li>
								</ul>	
								<a>Wszystkie oferty</a>
							
								</form>						
							</div>
						</div>
					</div>
				</div>
				<div class="main-wrapper">
					<div class="main">
						<div class="latest-job-offers-wrapper">
							<div class="latest-job-offers">
								<h2>NAJNOWSZE OFERTY PRACY</h2>
								<div class="tabs-wrapper">
									<ul>
										<li class="active">
											<a href="/" data-id="1">ZAGRANICA</a>
										</li>
										<li>
											<a href="/" data-id="2">POLSKA</a>
										</li>
									</ul>
								</div>
								
								<div class="tabs-content-wrapper">
									<div class="tabs-content">
										<div class="tab tab-external active" id="tab-1">
											<ul>
												{% for entry in rows  %}
												{% if ((entry.countryId != 'PL')  and (entry.offerstatus == 1)) | slice(0, 4)%}
												<a target="_blank" href="/oferta-pracy/{{entry.id}}" title=""><li class="js-link" data-url="">
													{{ entry.name}}<span>{{ entry.city}}, {{ entry.countryid }}</span>
												</li></a>
                                                {% else %}
												
												{% endif %}
									            {% else %}
												<h2> Brak ofert Pracy </h2>
												{% endfor %}
												
											</ul>
										</div>
										<div class="tab tab-internal" id="tab-2">
											<ul>
                                                {% for entry in rows %}
												{% if ((entry.countryId == 'PL')  and (entry.offerstatus == 1)) | slice(0, 10) %}
												<a target="_blank" href="/oferta-pracy/{{entry.id}}" title=""><li class="js-link" data-url="">
													{{ entry.name}}<span>{{ entry.city}}, {{ entry.countryid }}</span>
												</li></a>
                                                {% else %}
												
												{% endif %}
									            {% else %}
												<h2> Brak ofert Pracy </h2>
												{% endfor %}
											</ul>
										</div>
									</div>
								</div>
								<a href="/oferty-pracy" class="button button-blue">ZOBACZ WSZYSTKIE OFERTY PRACY</a>
							</div>
						
						</div>
						<div class="news-wrapper">
							<div class="news">
								<h2>AKTUALNOŚCI</h2>
								<ul>
									<li>
									
									{% for entry in news %}
									{% if entry.status == 1 %}
										<span>{{ entry.date | date('F j, Y, g:i a')}}</span>
										<b><a href="/news/{{ entry.id}}">{{ entry.title}}</a></b>
										<p>{{ entry.excerpt}}</p>
										<a href="/news/{{ entry.id}}" class="button">WIĘCEJ</a>
									</li>
									{%  else %}
									{% endif %}
									{% else %}
									{% endfor %}
									{% for entry in news | slice(0, 3)%}
									{% if entry.status == 2 %}
									<li>
										<span>{{ entry.date | date('l, F j, Y')}}</span>
										<b><a href="/news/{{entry.id}}">{{ entry.title}}</a></b>
									</li>
									{% else %}
									{% endif %}
									{% else %}
									<li>
										
										<b><a href="">Brak aktualności</a></b>
									</li>
									{% endfor %}
									
									
								</ul>
								<a href="/news" class="button button-transparent">WSZYSTKIE AKTUALNOŚCI</a>
							</div>
							<div class="badges">
								<img src="{{asset('bundles/jobland/images/badges.png')}}" />
							</div>
							
						</div>
					</div>
				</div>
				{% block content %}
				                      {{ page.content | raw }}
                                    {% endblock content %}
				
				{{include('JoblandBundle:Blog:footer.html.twig')}}
			
			</div>
		</div>

		<script type="text/javascript" src="{{asset('bundles/jobland/slick/slick.min.js')}}"></script>
<script>
$('.slick-slides').slick({
	dots:true,
	arrows:false,
	autoplay: true,
  	autoplaySpeed: 3000,

});

</script>
<script src="{{asset('bundles/jobland/js/script.js')}}"></script>
	</body>
</html>
