{# Kontakt #}
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<meta name="description" content=""/>
		<link rel="apple-touch-icon" sizes="180x180" href="{{asset('bundles/jobland/images/favicon/apple-touch-icon.png')}}">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-32x32.png')}}" sizes="32x32">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-16x16.png')}}" sizes="16x16">
		<link rel="manifest" href="{{asset('bundles/jobland/images/favicon/manifest.json')}}">
		<link rel="mask-icon" href="{{asset('bundles/jobland/images/favicon/safari-pinned-tab.svg')}}" color="#6b6b6b">
		<meta name="theme-color" content="#ffffff">
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/style.css')}}" />
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/typicons.min.css')}}" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBMA4MYz29ud1XyXaK1M7efNx_cCPDsEGA">
		</script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    	<script type = "text/javascript" src="{{asset('bundles/jobland/js/script.js')}}"></script>

		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&subset=latin-ext" rel="stylesheet">
	</head>
			<body class="">
				<div class="container-wrapper">
					<div class="container">
						{{include('JoblandBundle:Blog:header.html.twig')}}
						
						
						<div class="main-wrapper">
							<div class="main">
								<div class="localizer">
									<ul>
										<li>
											<a href="/">HOME</a>
										</li>
										<li>
											<a href="/kontakt">{{ 'contact.title'|trans }}</a>
										</li>
										
									</ul>
								</div>
								<div class="clear">
									<div class="contact-left">
									<h1>{{ 'contact.title'|trans }}</h1>
								    {% block content %}
                                     {{ page.content|raw }}
                                    {% endblock content %}
        
        							
        							

									</div>
									<div class="contact-right">
										<h2>{{ 'contact.sendus'|trans }}</h2>
										{{ form_start(form) }}	
										{{ form_errors(form) }}
										
										<ul>
											{% set name = 'contact.name'|trans %}
											{% set phone = 'contact.phone'|trans %}
											{% set email = 'contact.email'|trans %}
											{% set send = 'contact.send'|trans %}
											<li>
												
												{{ form_widget(form.name, {'attr': {'class': 'text', 'placeholder': name}}) }}
											</li>
											<li>
												{{ form_widget(form.email, {'attr': {'class': 'text', 'placeholder': email}}) }}
											</li>
											<li>
												{{ form_widget(form.phone, {'attr': {'class': 'text', 'placeholder': phone}}) }}
											</li>
											<li>
												<p>{{ 'contact.message'|trans }}</p>
												{{ form_widget(form.message, {'attr': {'class': 'textarea', 'placeholder': ' '}}) }}
											</li>
											<li>
												{{ form_widget(form.agreement, {'attr':{'checked' : 'true'}}) }}<label for="form_agreement"><span></span><p>{{ 'contact.agree'|trans }}</p></label>
					
											</li>
											<li>
												{{ form_widget(form.send, {'label' : send,'attr': {'class': 'button button-red'}}) }}
											</li>
										</ul>	
										
											{{ form_end(form) }}			
									
								</div>
						</div>

							</div>
						</div>
									

						
									<div class="maps-google">
									
									
									
									 <div id="googleMap"></div>
									</div>



								</div>
					
						{{include('JoblandBundle:Blog:footer.html.twig')}}

					
					</div>
				</div>
			</body>
		</html>