{# Partnerzy #}
<html>
	<head>
		<title>Partnerzy</title>
		<meta name="description" content=""/>
		<link rel="apple-touch-icon" sizes="180x180" href="{{asset('bundles/jobland/images/favicon/apple-touch-icon.png')}}">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-32x32.png')}}" sizes="32x32">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-16x16.png')}}" sizes="16x16">
		<link rel="manifest" href="{{asset('bundles/jobland/images/favicon/manifest.json')}}">
		<link rel="mask-icon" href="{{asset('bundles/jobland/images/favicon/safari-pinned-tab.svg')}}" color="#6b6b6b">
		<meta name="theme-color" content="#ffffff">
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/style.css')}}" />
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/typicons.min.css')}}" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	</head>
	<body class="">
		<div class="container-wrapper">
			<div class="container">
				{{include('JoblandBundle:Blog:header.html.twig')}}
				
				
				
				<div class="main-wrapper">
					<div class="main">
						<div class="localizer">
							<ul>
								<li>
									<a href="/">Strona główna</a>
								</li>
								 {% for entry in naviparent  %}
								<li>
									<a href="/{{ entry.megaSlug }}" class="active">{{ entry.name}}</a>
								</li>
								{% else %}
								{% endfor %}			
								 {% for entry in navi  %}
								<li>
									<a href="/{{ entry.megaSlug }}" class="active">{{ entry.name}}</a>
								</li>
								{% else %}
								{% endfor %}	
							</ul>
						</div>
					<div class="clear">
							<div class="sidebar-wrapper">
								<div class="sidebar">
									<p id="sidebar-trigger">O nas</p>
									
									<ul>
									            {% for entry in sidebar  %}
							
									                <li>
													<a href="/{{ entry.megaSlug }}" class="active">{{ entry.name}}</a>
													</li>
												
											
                                                {% else %}
												
												
									       
												
												{% endfor %}
												
									   
									</ul>
								
				
								</div>
							</div>

							<div class="content-wrapper">
								<div class="content">
									<h1>Partnerzy</h1>
									
									<div class="partners-wrapper">
									
										{% for entry in rows %}
										<a href="{{   entry.logourl }}"><div class="partners">
									<div class="partners-img"><img src="{{   entry.logourl }}" alt=""/></div>
									<h2>{{  entry.name }}</h2></a>
									{{ entry.text | raw }}
									</div>
									
									
									
									
										{% else %}
	
									
									<h2> Brak Portfolio </h2>
									
									{% endfor %}
									</div>
									
									
								</div>
							</div>
						</div>
					</div>
				</div>
				</div>
			</div>
				{{include('JoblandBundle:Blog:footer.html.twig')}}
				<script src="{{asset('bundles/jobland/js/script.js')}}"></script>

				
			
			</div>
		</div>
	</body>
</html>