{# FORUM #}
<html>
	<head><meta http-equiv="Content-Type" content="text/html; charset=shift_jis">
		<title>Forum</title>
		<meta name="description" content=""/>
		<link rel="apple-touch-icon" sizes="180x180" href="{{asset('bundles/jobland/images/favicon/apple-touch-icon.png')}}">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-32x32.png')}}" sizes="32x32">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-16x16.png')}}" sizes="16x16">
		<link rel="manifest" href="{{asset('bundles/jobland/images/favicon/manifest.json')}}">
		<link rel="mask-icon" href="{{asset('bundles/jobland/images/favicon/safari-pinned-tab.svg')}}" color="#6b6b6b">
		<meta name="theme-color" content="#ffffff">
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/style.css')}}" />
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/typicons.min.css')}}" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		 <link rel="stylesheet" type="text/css" href="{{asset('bundles/jobland/slick/slick.css')}}"/>
		 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	</head>
	<body class="">
		<div class="container-wrapper">
			<div class="container">
				
				
				{{include('JoblandBundle:Blog:header.html.twig')}}
				<div class="main-wrapper">
					<div class="main">
				<div class="localizer">
							<ul>
								<li>
									<a href="/">Strona główna</a>
								</li>
								<li>
									<a href="/forum">Forum</a>
								</li>
								
							</ul>
					
														</div>

				<iframe id="forum_embed"
											 src="http://www.test.jobland.chost.pl"
											 scrolling="no"
											 frameborder="0"
											 width="1160"
											 height="800">
			
														</iframe>
															</div>
					</div>
																		{{include('JoblandBundle:Blog:footer.html.twig')}}
			</div>
			
		</div>
	</body>
</html>
