{# Oferty pracy #}
{% extends 'JoblandBundle:Blog:layout.html.twig' %}

{% block title %}Oferty pracy{% endblock %}

	
				
				
				{% block content %}
				<div class="main-wrapper">
					<div class="main">
						<div class="localizer">
							<ul>
								<li>
									<a href="/">Strona główna</a>
								</li>
								 {% for entry in naviparent  %}
								 
								<li>
									<a href="/{{ entry.megaSlug }}" class="active">{{ entry.name}}</a>
								</li>
								{% else %}
								{% endfor %}			
								 {% for entry in navi  %}
								<li>
									<a href="/{{ entry.megaSlug }}" class="active">{{ entry.name}}</a>
								</li>
								{% else %}
								{% endfor %}	
							</ul>
						</div>
						<div class="clear">
							<div class="sidebar-wrapper">
								<div class="sidebar">
									<p id="sidebar-trigger">O nas</p>
									
									<ul>
									            {% for entry in sidebar  %}
									            {% if entry.language == 'PL' %}
							
									                <li>
													<a href="/{{ entry.megaSlug }}" class="active">{{ entry.name}}</a>
													</li>
												
											
                                                {% else %}
                                                reklama
												{% endif %}
                                                {% else %}
                                                
												
									       
												
												{% endfor %}
												
									   
									</ul>
								
				
								</div>
							</div>
				
							<div class="content-wrapper">
								<div class="content">
									
									<h1>{{ 'worksoffer.title'|trans }}</h1>
									
									<div class="sort-works-offer">
										<ul>
											<li><p>Sortuj wg: </p></li>
											<li><div class="select-wrapper">
												<span class="dropdown-icon"><i class="ico-DOWN"></i></span>
																		<select class="select">
																			<option value="" disabled selected>Kraj</option>
																			<option value=1>test 1</option>
																			<option value=2>test 2</option>
																			<option value=3>test 3</option>
																		</select>
																	</div></li>
											<li><input class="text" type="text" placeholder="Nazwa stanowiska lub słowo kluczowe" /></li>
										</ul>
									</div>
									{% for entry in rows %}
									<div class="works-offer-panel">
										
										<div class="works-offer">
											<ul> 
												<li>
    												<a id="offer-scroll">{{ entry.name}}<br><b>{{ entry.city}}, {{ entry.countryId}}</b></a>
    												<a href="javascript:void(0)" class="button button-red button-down" id="button-offer-works"><span>{{ 'worksoffer.expand'|trans }}</span></a>
												</li>
										
											</ul>	
										</div>		
									<div class="works-offer-scroll">	
									<img src="{% for users in user  %}{%  if entry.userId == users.id %}{{ users.profilepicturepath }} {% endif %} {% endfor %}">
									<h1>{{ entry.name}}</h1>
									<p id="works-offer-place">{{ entry.city}}, {{ entry.id}}</p>
									<p id="works-offer-number">REF. NO. {{ entry.id}}</p>
									<h3>{{ 'worksoffer.employer'|trans }}</h3>
									<p>{{ entry.employer}}</p>
									<h3>{{ 'worksoffer.job'|trans }}</h3>
									<p>{{ entry.jobdescription}}</p>
									<h3>{{ 'worksoffer.requirements'|trans }}</h3>
									<p>{{ entry.requirements}}</p>
									<h3>{{ 'worksoffer.offer'|trans }}</h3>
									<p>{{ entry.applyoffer}}</p>
									<h3>{{ 'worksoffer.howapply'|trans }}</h3>
									<p>{{ entry.applyadress}}</p>
									<center><a href="/aplikuj/{{ entry.id }}"><button type="submit" value="APLIKUJ"/>{{ 'worksoffer.apply'|trans }}</button></a></center>
									</div>
								</div>
									{% else %}
									
									<h2> Brak ofert Pracy </h2>
									
									{% endfor %}
									<div class="navigation">
									{{ knp_pagination_render(rows) }}
									</div>

									
									
								</div>
							</div>
						</div>
						</div>
						</div>
						{% endblock %}
