<ul class="main-menu">
 <li id="home-button">
								<a id="home-icon" href="/" title=""><span class="ico-HOME"></span></a>
								<a href="" id="english-icon"><span class="ico-EARTH"></span>ENGLISH</a>
								<span class="ico-CLOSE"></span></li>
{% if app.request.getLocale() == 'pl' %}
{% set language = 'PL' %}
{% else %}
{% set language = 'EN' %}
{% endif %}
    {% if tree[0] is defined %}
        {% for key, value in tree[0] %}
         {% if pages[key].language == language %}
            <li class="submenu-trigger">
                {% if (pages[key].externalUrl) %}
                    <a class="disabled-link" href="{{ pages[key].externalUrl }}">{{ pages[key].nameMenu }}</a>
                {% else %}
                    <a class="disabled-link" {{ uri == path('showPage', {'slug' : pages[key].megaSlug}) ? 'active' : '' }}" href="{{ path('showPage', {'slug' : pages[key].megaSlug}) }}">{{ pages[key].nameMenu }}</a>
                {% endif %}

                {% if value %}
                    <ul class="submenu" id="submenu" >
                        {% for k,v in value %}
                            <li>
                                {% if pages[k].externalUrl %}
                                    <a  href="{{ pages[k].externalUrl }}">{{ pages[k].nameMenu }}</a>
                                {% else %}
                                    <a href="{{ path('showPage', {'slug' : pages[k].megaSlug}) }}">{{ pages[k].nameMenu }}</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
            {% endif %}
        {% endfor %}
    {% endif %}
</ul>

