<html>
	<head>
		<title>Zamieszczanie Ofert</title>
		<meta name="description" content=""/>
		<link rel="apple-touch-icon" sizes="180x180" href="{{asset('bundles/jobland/images/favicon/apple-touch-icon.png')}}">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-32x32.png')}}" sizes="32x32">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-16x16.png')}}" sizes="16x16">
		<link rel="manifest" href="{{asset('bundles/jobland/images/favicon/manifest.json')}}">
		<link rel="mask-icon" href="{{asset('bundles/jobland/images/favicon/safari-pinned-tab.svg')}}" color="#6b6b6b">
		<meta name="theme-color" content="#ffffff">
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/style.css')}}" />
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/typicons.min.css')}}" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	</head>
	<body class="">
		
		<div class="container-wrapper">

			<div class="container">

				{{include('JoblandBundle:Blog:header.html.twig')}}
				
				
				<div class="main-wrapper">
					<div class="main">
						<div class="localizer">
							<ul>
								<li>
									<a href="/">Strona główna</a>
								</li>
								<li>
									<a href="/jak-dzialamy">Dla pracodawcy</a>
								</li>
								<li>
									<a href="/zamieszczanie-ofert">Zamieszczanie ofert</a>
								</li>
							</ul>
						</div>
						<div class="clear">
							<div class="sidebar-wrapper">
								<div class="sidebar">
										<p id="sidebar-trigger">Dla Pracodawców</p>
									<ul>
										<li>
											<a href="/jak-dzialamy" >Jak działamy</a>
										</li>
										<li>
											<a href="/zamieszczanie-ofert" class="active">Zamieszczanie ofert pracy</a>
										</li>
										<li>
											<a href="/newsletter">Newsletter</a>
										</li>
										<li >
											<a href="/branza">Branża budownictwa przemysłowego</a>
										</li>	
									</ul>
								</div>
							</div>
							<div class="content-wrapper">
								<div class="content">
									<h1>Zamieszczanie ofert</h1>
									<p><img id="img-employer" src="{{asset('bundles/jobland/images/badges-vertical.png')}}" alt="" style="float: right; margin-left: 40px" />
										<div class="how-work-panel">
											<p>Nasz serwis odwiedza każdego miesiąca ponad 100 tysięcy unikalnych użytkowników o ściśle określonym profilu, którzy generują blisko milion wyświetleń (page views). W odpowiedzi na ogłoszenie aplikacje osób poszukujących pracy trafiają bezpośrednio do Pracodawcy - Klienta, który samodzielnie selekcjonuje zgłoszenia i kontaktuje się z wybranymi kandydatami.</p>
									
									<p>Zamieszczenie oferty jest bezpłatne. Każda oferta widoczna jest na stronie przez 30 dni w odpowiedniej kategorii, po czym wygasa. Istnieje możliwość przedłużenia ważności lub odnowienia oferty.</p>
									<p>Oferty pracy zamieszczane są przez Pracodawców indywidualnie poprzez Panel Ogłoszeniowy.</p>
									<p>Kandydaci aplikują na wybrane oferty przez system Jobland.pl - wszystkie aplikacje przesyłane są bezpośrednio na adres e-mail podany podczas zamieszczania oferty. W każdym momencie pracodawca może też sprawdzić historię aplikacji w swoim Panelu Ogłoszeniowym.</p>
									<p id="contact-with-us"><a href="/kontakt">Skontaktuj się z nami, aby uzyskać więcej informacji</a></p>
									
									
												<p><a href="/rejestracja" class="button">ZAMIEŚĆ OFERTY PRACY</a>
									
										
										</div>
									</div>
								</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			{{include('JoblandBundle:Blog:footer.html.twig')}}
				<script src="{{asset('bundles/jobland/js/script.js')}}"></script>
			
			
			</div>
		</div>
	</body>
</html>