<html>
	<head>
		<title>Jak działamy</title>
		<meta name="description" content=""/>
		<link rel="apple-touch-icon" sizes="180x180" href="{{asset('bundles/jobland/images/favicon/apple-touch-icon.png')}}">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-32x32.png')}}" sizes="32x32">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-16x16.png')}}" sizes="16x16">
		<link rel="manifest" href="{{asset('bundles/jobland/images/favicon/manifest.json')}}">
		<link rel="mask-icon" href="{{asset('bundles/jobland/images/favicon/safari-pinned-tab.svg')}}" color="#6b6b6b">
		<meta name="theme-color" content="#ffffff">
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/style.css')}}" />
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/typicons.min.css')}}" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	</head>
	<body class="">
		<div class="container-wrapper">
			<div class="container">
				{{include('JoblandBundle:Blog:header.html.twig')}}
				
				
				<div class="main-wrapper">
					<div class="main">
						<div class="localizer">
							<ul>
								<li>
									<a href="/">Strona główna</a>
								</li>
								<li>
									<a href="/jak-dzialamy">Dla pracodawcy</a>
								</li>
								<li>
									<a href="/jak-dzialamy">Jak działamy</a>
								</li>
							</ul>
						</div>
						<div class="clear">
							<div class="sidebar-wrapper">
								<div class="sidebar">
									<p id="sidebar-trigger">Dla Pracodawców</p>
									
									<ul>
										<li class="active">
											<a href="/jak-dzialamy" class="active">Jak działamy?</a>
										</li>
										<li>
											<a href="/zamieszczanie-ofert">Zamieszczanie ofert pracy</a>
										</li>
										<li>
											<a href="/newsletter">Newsletter</a>
										</li>
										<li >
											<a href="/branza">Branża budownictwa przemysłowego</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="content-wrapper">
								<div class="content">
									<h1>Jak działa jobland.pl?</h1>
									<p><img id="img-employer" src="{{asset('bundles/jobland/images/badges-vertical.png')}}" alt="" style="float: right; margin-left: 40px" /><h4>Szukasz pracowników?</h4></p>
									<div class="how-work-panel">
									<p>Jobland.pl to rozpoznawalna i doceniana marka, obecna na rynku rekrutacyjnym od ponad dziesięciu lat. Nasze doświadczenie jest gwarancją efektywności i sukcesu Twoich działań.</p>
									<p>Platforma rekrutacyjna Jobland.pl zapewnia sprawne dotarcie do potencjalnych kandydatów dla Twojej Firmy. Dzięki nam możliwa jest efektywna komunikacja między pracodawcą a kandydatami.</p>
									<p>Dzięki dodatkowym usługom, jak profilowany Newsletter, Twoje oferty dotrą do odpowiednio dopasowanych kandydatów o poszukiwanych przez Ciebie kwalifikacjach.</p>
									<p>Nasza platforma i giełda pracy są elementem skutecznej polityki Employer Brandingowej Twojej Firmy. Zapraszamy do zamieszczania ofert.</p>
									
									<p>&nbsp;</p>
									<p><a href="oferty-pracy" class="button">ZOBACZ OFERTY PRACY</a>
									<img id="members" src="{{asset('bundles/jobland/images/badges.png')}}">
									
								</div>	
								</div>
							</div>
						</div>
					</div>
				</div>
					{{include('JoblandBundle:Blog:footer.html.twig')}}
				<script src="{{asset('bundles/jobland/js/script.js')}}"></script>
			
			
			
			</div>
		</div>
	</body>
</html>