<html>
	<head>
		<title>Newsletter</title>
		<meta name="description" content=""/>
		<link rel="apple-touch-icon" sizes="180x180" href="{{asset('bundles/jobland/images/favicon/apple-touch-icon.png')}}">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-32x32.png')}}" sizes="32x32">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-16x16.png')}}" sizes="16x16">
		<link rel="manifest" href="{{asset('bundles/jobland/images/favicon/manifest.json')}}">
		<link rel="mask-icon" href="{{asset('bundles/jobland/images/favicon/safari-pinned-tab.svg')}}" color="#6b6b6b">
		<meta name="theme-color" content="#ffffff">
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/style.css')}}" />
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/typicons.min.css')}}" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	</head>
	<body class="">
		<div class="container-wrapper">
			<div class="container">
				
				{{include('JoblandBundle:Blog:header.html.twig')}}
				
				
				<div class="main-wrapper">
					<div class="main">
						<div class="localizer">
							<ul>
								<li>
									<a href="http://jobland.chost.pl">Strona główna</a>
								</li>
								<li>
									<a href="http://jobland.chost.pl/jak-dzialamy">Dla pracodawcy</a>
								</li>
								<li>
									<a href="http://jobland.chost.pl/newsletter">Newsletter</a>
								</li>
							</ul>
						</div>
						<div class="clear">
							<div class="sidebar-wrapper">
								<div class="sidebar">
									<p id="sidebar-trigger">Dla Pracodawców</p>
									
									<ul>
										<li>
											<a href="jak-dzialamy" >Jak działamy</a>
										</li>
										<li>
											<a href="/zamieszczanie-ofert">Zamieszczanie ofert pracy</a>
										</li>
										<li>
											<a href="/newsletter" class="active">Newsletter</a>
										</li>
										<li >
											<a href="/branza">Branża budownictwa przemysłowego</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="content-wrapper">
								<div class="content">
									<h1>Newsletter</h1>
									<p><img id="img-employer" src="{{asset('bundles/jobland/images/badges-vertical.png')}}" alt="" style="float: right; margin-left: 40px" />Dodatkową usługą oferowaną przez Jobland.pl jest Newsletter ogłoszeniowy – oferty pracy wysyłane są bezpośrednio do odpowiednio sprofilowanej grupy odbiorców – potencjalnych kandydatów zarejestrowanych w bazie CV. Umożliwia to pracodawcom skuteczne poszukiwanie pracowników przez zgłoszenie się do kandydatów o odpowiednich kwalifikacjach i doświadczeniu.</p>
									<p id="contact-with-us"><a href="/kontakt">Skontaktuj się z nami, aby uzyskać więcej informacji</a></p>
									
									
									<p><a href="/oferty-pracy" class="button">ZAMIEŚĆ OFERTY PRACY</a>
										<img id="members" src="{{asset('bundles/jobland/images/badges.png')}}">
									
									
								</div>
							</div>
						</div>
					</div>
				</div>
				
			{{include('JoblandBundle:Blog:footer.html.twig')}}
				<script src="{{asset('bundles/jobland/js/script.js')}}"></script>
			
			
			</div>
		</div>
	</body>
</html>