<html>
	<head>
		<title>Zamieszczanie Ofert</title>
		<meta name="description" content=""/>
		<link rel="apple-touch-icon" sizes="180x180" href="{{asset('bundles/jobland/images/favicon/apple-touch-icon.png')}}">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-32x32.png')}}" sizes="32x32">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-16x16.png')}}" sizes="16x16">
		<link rel="manifest" href="{{asset('bundles/jobland/images/favicon/manifest.json')}}">
		<link rel="mask-icon" href="{{asset('bundles/jobland/images/favicon/safari-pinned-tab.svg')}}" color="#6b6b6b">
		<meta name="theme-color" content="#ffffff">
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/style.css')}}" />
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/typicons.min.css')}}" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	</head>
	<body class="">
		<div class="container-wrapper">
			
			<div class="mask-register">
				<a class="exit"><span class="ico-CLOSE"></span></a>
				<h2>Dziękujemy za rejestrację!</h2>
				<p>Potwierdzenie rejestracji otrzymasz na podany adres e-mail: twoj@e-mail.com. W celu weryfikacji kliknij na podanay w wiadomości link. Możesz swobodnie przeglądać edytować i usuwać swoje dane. Po weryfikacji otrzymasz możliwość zamieszczenia ofert pracy.</p>
				<p><a href="/panel-pracodawcy" class="button">Przejdź do twojego panelu</a></p>
			
			</div>
			
			<div class="container">
				{{include('JoblandBundle:Blog:header.html.twig')}}
				
				
				<div class="main-wrapper">
					<div class="main">
						<div class="localizer">
							<ul>
								<li>
									<a href="/">Strona główna</a>
								</li>
								<li>
									<a href="/jak-dzialamy">Dla pracodawcy</a>
								</li>
								<li>
									<a href="/zamieszczanie-ofert">Zamieszczanie ofert pracy</a>
								</li>
							</ul>
						</div>
						<div class="clear">
							<div class="sidebar-wrapper">
								<div class="sidebar">
									<p id="sidebar-trigger">Dla Pracodawców</p>
									
									<ul>
										<li>
											<a href="/jak-dzialamy" >Jak działamy</a>
										</li>
										<li class="active">
											<a href="/zamieszczanie-ofert">Zamieszczanie ofert pracy</a>
										</li>
										<li>
											<a href="/newsletter">Newsletter</a>
										</li>
										<li >
											<a href="/branza">Branża budownictwa przemysłowego</a>
										</li>	
									</ul>
								</div>
							</div>
							<div class="content-wrapper">
								<div class="content">
									<h1>Zamieszczanie ofert pracy</h1>
									<div class="register-login-wrapper">
										<h2 id="placing-offer">Aby zamieścić ofertę pracy <b>zaloguj się</b>, albo <b>załóż konto pracodawcy.</a></h2>
								 	<div class="login-form-wrapper">
										<div class="login-form form">
											<div class="clear">
												<div class="col-left-50">
													<h2>Mam już konto</h2>
													 <form method="post"> 
														<ul>
															<li>
																<input type="text" placeholder="E-mail" name="email" class="text"/>
															</li>
															<li>
																<input type="password" placeholder="Hasło" name="password"  class="text"/>
															</li>
														</ul>
														
														<div class="clear">
														<ul id="password-remember">
															<li><p>Nie pamiętasz hasła?</p></li>
															<li><a  id="click-password" href="#"> Kliknij tutaj</a></li>		
														</ul>
														
															<a href="" class="button button-blue right">Zaloguj się</a>
														</div>
														
													</form> 
												
												</div>
												<div class="col-left-50">
													<center><h2 id="create-account">Załóż konto</h2></center>
													<center><p>
														<a href="javascript:void(0)" class="button button-red">Wypełnij formularz</a>
													</p></center>
													
												</div>
											
											</div>
										
										</div>
									</div>
									<div class="registration-form-wrapper">
										<div class="registration-form form">
											
										{{ form_start(form) }}	
										{{ form_errors(form) }}
												<div class="table">
													<div class="table-row">
														<div class="table-cell">
															<h2>Rejestracja pracodawcy</h2>
														</div>
													</div>
													<div class="table-row">
														<div class="table-cell">
															{{ form_widget(form.email.first, {'attr': {'class': 'text', 'placeholder': 'Email'}}) }}
														</div>
														<div class="table-cell">
															{{ form_widget(form.email.second, {'attr': {'class': 'text', 'placeholder': 'Potwierdź email'}}) }}
														</div>
													</div>
													<div class="table-row">
														<div class="table-cell">
															{{ form_widget(form.passwd.first, {'attr': {'class': 'text', 'placeholder': 'Hasło'}}) }}
														</div>
														<div class="table-cell">
															{{ form_widget(form.passwd.second, {'attr': {'class': 'text', 'placeholder': 'Potwierdź hasło'}}) }}
														</div>
													</div>
													<div class="table-row">
														<div class="table-cell">
															<h3>Dane firmy</h3>
														</div>
													</div>
													<div class="table-row">
														<div class="table-cell">
															{{ form_widget(form.company_name, {'attr': {'class': 'text', 'placeholder': 'Pełna nazwa firmy'}}) }}
														</div>
														<div class="table-cell">
															{{ form_widget(form.phone, {'attr': {'class': 'text', 'placeholder': 'Numer telefonu'}}) }}
														</div>
													</div>
													<div class="table-row">
														<div class="table-cell">
															{{ form_widget(form.nip, {'attr': {'class': 'text', 'placeholder': 'NIP'}}) }}
														</div>
														<div class="table-cell">
															{{ form_widget(form.url, {'attr': {'class': 'text', 'placeholder': 'Adress www'}}) }}
														</div>
													</div>
													<div class="table-row">
														<div class="table-cell">
															<h3>Adres</h3>
														</div>
													</div>
													
												</div>
													
														<div class="table-cell-33">
															{{ form_widget(form.adress, {'attr': {'class': 'text', 'placeholder': 'Ulica i numer domu'}}) }}
														</div>
														
														<div class="table-cell-33">
															{{ form_widget(form.postcode, {'attr': {'class': 'text', 'placeholder': 'Kod pocztowy'}}) }}
														</div>
														<div class="table-cell-33">
															{{ form_widget(form.city, {'attr': {'class': 'text', 'placeholder': 'Miejscowość'}}) }}
														</div>

													
													<div class="table">
													<div class="table-row">
														<div class="table-cell">
															<div class="select-wrapper">
																
																{{ form_widget(form.country, {'attr': {'class': 'select', 'placeholder': 'Kraj'}}) }}
															</div>	
														</div>
													</div>
													<div class="table-row">
														<div class="table-cell">
															<h3>Osoba kontaktowa</h3>
														</div>
														<div class="table-cell">
															<h3>Logo</h3>
														</div>
													</div>
													<div class="table-row">
														<div class="table-cell">
															{{ form_widget(form.name, {'attr': {'class': 'text', 'placeholder': 'Imię i nazwisko'}}) }}
														</div>
														<div class="table-cell">
														<div class="fileUpload btn btn-primary">
													    	<span>Prześlij plik</span>
													    	<button>{{ form_widget(form.logo, {'attr': {'class': 'upload'}}) }}</button>
														</div>
													</div>

													</div>
													
												<p>&nbsp;</p>
												</div>
												<ul id="conditions">
													<li>
														{{ form_widget(form.agreement, {'attr':{'checked' : 'true'}}) }}<label for="form_agreement"><span></span><p>Wyrażam zgodę na przetwarzanie moich danych osobowych przez Jobland.pl Sp. z o.o. z siedzibą w Warszawie, ul. Okopowa 47 lokal 26, 01-059. Potwierdzam, ze zostałem(-am) poinformowany(-a) o dobrowolności podania swoich danych osobowych, prawie wglądu do swoich danych i zgłaszania poprawek.</p></label>
													</li>
													<li>
														{{ form_widget(form.rules, {'attr':{'checked' : 'true', 'class' : 'checkbox1'}}) }}<label for="form_rules"><span></span>Akceptuję <a href="">regulamin</a>.</label>
													</li>
												
												</ul>
												
											
												
													{{ form_widget(form.save, {'label' : 'Zapisz', 'attr': {'class': 'button button-red', 'id' : 'register-button'}}) }}
												
														
												{{ form_end(form) }}

												
										
									</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			
			</div>

		</div>	
				{{include('JoblandBundle:Blog:footer.html.twig')}}
				<script src="{{asset('bundles/jobland/js/script.js')}}"></script>
			
			
	</body>
</html>