<html>
	<head>
		<title>Branża</title>
		<meta name="description" content=""/>
		<meta name="description" content=""/>
		<link rel="apple-touch-icon" sizes="180x180" href="{{asset('bundles/jobland/images/favicon/apple-touch-icon.png')}}">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-32x32.png')}}" sizes="32x32">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-16x16.png')}}" sizes="16x16">
		<link rel="manifest" href="{{asset('bundles/jobland/images/favicon/manifest.json')}}">
		<link rel="mask-icon" href="{{asset('bundles/jobland/images/favicon/safari-pinned-tab.svg')}}" color="#6b6b6b">
		<meta name="theme-color" content="#ffffff">
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/style.css')}}" />
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/typicons.min.css')}}" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	</head>
	<body class="">
		<div class="container-wrapper">
			<div class="container">
				{{include('JoblandBundle:Blog:header.html.twig')}}
				
				
				<div class="main-wrapper">
					<div class="main">
						<div class="localizer">
							<ul>
								<li>
									<a href="/">Strona główna</a>
								</li>
								<li>
									<a href="/jak-dzialamy">Dla pracodawcy</a>
								</li>
								<li>
									<a href="/branza">Branża budownictwa przemysłowego</a>
								</li>
							</ul>
						</div>
						<div class="clear">
							<div class="sidebar-wrapper">
								<div class="sidebar">
									<p id="sidebar-trigger">Dla Pracodawców</p>
									
									<ul>
										<li>
											<a href="/jak-dzialamy" >Jak działamy</a>
										</li>
										<li>
											<a href="/zamieszczanie-ofert">Zamieszczanie ofert pracy</a>
										</li>
										<li>
											<a href="/newsletter">Newsletter</a>
										</li>
										<li class="active">
											<a href="/branza" class="active">Branża budownictwa przemysłowego</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="content-wrapper">
								<div class="content">
									<div class="business-sector">
									<h1>Branża budownictwa przemysłowego</h1>
									<p><img id="img-employer" src="{{asset('bundles/jobland/images/badges-vertical.png')}}" alt="" style="float: right; margin-left: 40px" />Jedną z ważniejszych specjalizacji Jobland.pl jest świadczenie usług dla branży stoczniowej, budownictwa przemysłowego, energetyki i przemysłu paliwowego oraz szeroko pojętej branży metalowej. Nasi klienci prowadzą projekty w kraju i za granicą (w Wielkiej Brytanii, Finlandii, Norwegii i innych państwach).</p>
									<div class="how-work-panel">
									<p><b>Posiadamy unikalną bazę wykwalifikowanych, doświadczonych i sprawdzonych pracowników. W naszych zasobach znajdują się między innymi:</b></p>
								
									<ul>
										<li>certyfikowani spawacze wszystkich metod (TIG, MMA, MIG/MAG/FCAW itd.),</li>
										<li>monterzy rurociągów,</li>
										<li>monterzy konstrukcji stalowych,</li>
										<li>ślusarze kadłubowi,</li>
										<li>monterzy izolacji termicznych i wentylacji,</li>
										<li>operatorzy dźwignic,</li>
										<li>malarze-piaskarze,</li>
										<li>operatorzy obrabiarek CNC oraz manualnych.</li>
									</ul>
									
									<p>Dzięki naszemu wieloletniemu doświadczeniu doskonale rozumiemy wysokie wymogi jakościowe przemysłu energetycznego, paliwowego i stoczniowego. Nasze procedury obejmują weryfikację umiejętności i testy praktyczne, prowadzone najczęściej z udziałem Klientów. Podczas testów dokonywana jest zarówno wizualna ocena wykonanych próbek, jak również testy niszczące i nieniszczące.</p>
									<p>Zapewniamy koordynację: rekrutacji, weryfikacji umiejętności kandydatów, szkoleń , transportu i zakwaterowania pracowników na czas kontraktu - zarówno w kraju, jak i za granicą.</p>
									<p>Efektywność naszych usług została sprawdzona przez wiodące światowe firmy budownictwa przemysłowego i stocznie. Nasi Klienci powierzają nam rekrutacje przy realizacji najbardziej wymagających projektów. Międzynarodowe doświadczenie i znajomość światowych standardów pozwalają nam zapewnić unikalną w skali kraju jakość usług.</p>
									<p><b>Zaufali nam między innymi:</b></p>
									<ul>
										<li><b>Doosan Babcock</b>, Wielka Brytania - zobacz zdjęcia z kontraktu 2008 (<a>plik PDF, 10 MB</a>)</li>
										<li><b>C&D Group</b>, Wielka Brytania</li>
										<li><b>Ablemans</b>, Finlandia</li>
										<li><b>Proffman</b>, Norwegia</li>
										<li><b>Mostostal Zabrze</b> - Holding, Polska</li>
										<li><b>Petrofac</b> – zobacz zdjęcia z kontraktu 2014-2015 (<a>plik PDF, 10 MB</a>)</li>
									</ul>
									<p>Zapraszamy do współpracy!</p>
									<p>&nbsp;</p>
									<p><a href="/portfolio" class="button">ZOBACZ PORTFOLIO</a>
										<p><a href="/kontakt">Skontaktuj się z nami by zyskać więcej informacji</a></p>
										<img id="members" src="{{asset('bundles/jobland/images/badges.png')}}">
									</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
					{{include('JoblandBundle:Blog:footer.html.twig')}}
				<script src="{{asset('bundles/jobland/js/script.js')}}"></script>
			
			</div>
		</div>
	</body>
</html>