body.admin {background-color: #f3f3f3; height:auto;}
.admin-wrapper{    width: 100%;position: relative;background-color: #f3f3f3; }
.admin-menu-wrapper {background: #FFF; width: 100%;overflow: auto;clear: both; float: left;margin-bottom: 20px;}
.admin-menu-wrapper ul {width: 100%; float: left; display: block; clear: both; overflow: auto;}
.admin-menu-wrapper ul li{display: inline-block; float:left; padding-left: 20px; height:50px; line-height:50px;}
.admin-menu-wrapper ul li:last-child{float:right; padding-right: 20px; color:#fff;}
.admin-menu-wrapper img{height:50px;}
.admin-menu-wrapper ul li a{text-decoration: none; color:#212c4d; font-size:16px;}
.admin-panel{width: 100%; padding: 20px; padding-left:40px; padding-right:40px;}
.admin-panel table{width: 100%; border: 1px solid #6b6b6b; border-top:0px; height: 40px; line-height: 40px;}
.admin-panel table tr th{float: left; width: 10%;margin-top:5px;margin-bottom:5px; margin-left: 5px;margin-right: 5px;font-size: 12px;line-height: 12px; color:#212c4d; word-wrap: break-word;}
.admin-panel table tr th:last-child{width: 200px;float: right;margin-right: 35px;}
.admin-panel table tr th a.button {float: left;display: inline-block;}
.admin-panel table tr .email-admin {   width: 300px;}
.admin-page-wrapper{height: 50px}
.admin-page-wrapper ul{list-style-type: none; clear: both; overflow: visible; border-bottom: 1px solid #cacaca; margin: 30px 0px 0px; padding: 0px; height: 51px}
.admin-page-wrapper li{padding: 0px; margin:0px;  float: left; position: relative}
.admin-page-wrapper li a{transition: color 0.25s ease-in-out; -moz-transition: color 0.25s ease-in-out; -webkit-transition: color 0.25s ease-in-out; font-weight: 400; font-size: 22px; text-decoration: none; height: 50px; display: block; line-height: 48px; padding: 0px 30px; background-color:#f0f0f0; color: black; border-top: 1px solid #f0f0f0;border-left: 1px solid #f0f0f0;border-right: 1px solid #f0f0f0 }
.admin-page-wrapper li a:hover{color: #245fa0; transition: color 0.25s ease-in-out; -moz-transition: color 0.25s ease-in-out; -webkit-transition: color 0.25s ease-in-out;}
.admin-page-wrapper li.active a:hover{color: #670000; transition: color 0.25s ease-in-out; -moz-transition: color 0.25s ease-in-out; -webkit-transition: color 0.25s ease-in-out;}
.admin-page-wrapper li.active a{background-color: #f9f9f9;color: #940000; border-bottom: 1px solid #f9f9f9; border-top: 1px solid #cacaca;border-left: 1px solid #cacaca;border-right: 1px solid #cacaca; font-weight:400; }
.admin-page-wrapper li:first-child{margin-right: 5px}
.admin-page-wrapper li.active:after{position: absolute; width: 100%; display: block; content: " "; border-bottom: 1px solid #f9f9f9;}
.admin-page-content{display:none;}
.admin-page-content.active {display: block}
.tabs-content-wrapper {width: 100%;float: left;}
.tabs-wrapper li:nth-child(2) {
    margin-right: 5px;
}
.add-page input[type="checkbox"] {
    display: block;
     -moz-appearance:checkbox; 
    -webkit-appearance:checkbox;
    appearance:checkbox;
        margin-left: auto;
    margin: auto;
    margin-bottom: 20px;
}
.add-page input[type="text"] {
    line-height: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 20px;
    /* padding-right: 10px; */
    width: 40%;
    text-align: center;
}
.add-page select {
    width: 40%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
    

#news-admin {width: 49%;float: left;}
.add-news{width:49%; float:left; margin-top: 20px;border: 1px solid #6b6b6b; padding-left: 20px; padding-right:20px;}

.add-news div label { width: 100%;float: left; text-align:left; padding-top: 10px; padding-bottom: 10px; color:#212c4d;     background-color: #F5F5DC;}
.add-news div input{width:100%;  line-height:18px; font-size:18px; padding-left:20px; padding-right:20px;padding-top:10px; padding-bottom:10px;}
.add-news div textarea{width:100%; height:150px;  line-height:14px; font-size:14px; padding-left:20px; padding-right:20px;}
.add-news button {margin-top: 10px;margin-bottom: 10px;font-family: 'Open Sans', sans-serif;display: inline-block;   line-height: 40px;background-color: #12b312;font-weight: 700;color: white;border-radius: 4px;letter-spacing: 0px;text-decoration: none;text-transform: uppercase;position: relative;border: 0px;font-size: 14px;cursor: pointer;transition: background-color 0.25s ease-in-out;-moz-transition: background-color 0.25s ease-in-out;-webkit-transition: background-color 0.25s ease-in-out;   width: 100px;}

.edit-news{width:100%; float:left; margin-top: 20px;border: 1px solid #6b6b6b; padding-left: 20px; padding-right:20px;}
.edit-news div label { width: 100%;float: left; text-align:left; padding-top: 10px; padding-bottom: 10px; color:#212c4d;     background-color: #F5F5DC;}
.edit-news div input{width:100%;  line-height:18px; font-size:18px; padding-left:20px; padding-right:20px;padding-top:10px; padding-bottom:10px;}
.edit-news div textarea{width:100%; height:150px;  line-height:14px; font-size:14px; padding-left:20px; padding-right:20px;}
.edit-news button {margin-top: 10px;margin-bottom: 10px;font-family: 'Open Sans', sans-serif;display: inline-block;   line-height: 40px;background-color: #12b312;font-weight: 700;color: white;border-radius: 4px;letter-spacing: 0px;text-decoration: none;text-transform: uppercase;position: relative;border: 0px;font-size: 14px;cursor: pointer;transition: background-color 0.25s ease-in-out;-moz-transition: background-color 0.25s ease-in-out;-webkit-transition: background-color 0.25s ease-in-out;   width: 100px;}
.admin-wrapper{width:100%;}

.main-button-green{ transition: background-color 0.25s ease-in-out; -moz-transition: background-color 0.25s ease-in-out; -webkit-transition: background-color 0.25s ease-in-out; font-family: 'Open Sans', sans-serif; display: inline-block; padding: 0px 30px 0px 12px; line-height: 40px;background-color:#19a82a; font-weight:700; color: white; border-radius: 4px; letter-spacing: 0px; text-decoration: none; text-transform: uppercase; position: relative; border: 0px; font-size: 12px; cursor: pointer;}
.main-button-green:after{position: absolute; right: 8px; content: '\e939'; display: inline-block; font-family: 'ico-jobland'; font-size: 18px;}
.admin-page-list {width: 100%;text-align: center;padding: 100px;}
.admin-panel .add-page {padding: 5%;}
.edit-form {padding-left: 50px;    padding-right: 50px;}
.edit-form div div {width: 100%;}
.edit-form label {width: 100%;float: left;text-align: left; font-size:14px; color:#212c4d;}
.edit-form input, select, textarea {width: 100%; margin-bottom:20px; border-radius:8px;}
.edit-form input {font-size:14px; line-height: 14px;padding: 10px; }
.edit-form textarea {font-size:14px; line-height: 14px;padding: 10px; height:100px; width:100%;}
.edit-form select {height: 40px;padding: 20px;padding: 10px;margin-bottom: 20px;   -webkit-appearance: none;}
.edit-form button {margin-top: 10px;margin-bottom: 10px;font-family: 'Open Sans', sans-serif;display: inline-block;   line-height: 40px;background-color: #12b312;font-weight: 700;color: white;border-radius: 4px;letter-spacing: 0px;text-decoration: none;text-transform: uppercase;position: relative;border: 0px;font-size: 14px;cursor: pointer;transition: background-color 0.25s ease-in-out;-moz-transition: background-color 0.25s ease-in-out;-webkit-transition: background-color 0.25s ease-in-out;   width: 100px;}
.edit-form a{color: #212c4d;text-decoration: none;font-size: 20px;text-align: right;width: 100%;}

.admin-panel table tr th:first-child{width:3%;}
.admin-login .button {background-color: #6b6b6b;}
.admin-login input {width: 100%;border-radius: 6px;border: 1px solid #6b6b6b;outline: none;clear: both;margin-bottom: 10px;height: 30px;text-align: center;}
.admin-login {position: fixed;top: 50px;left: 0;right: 0;margin: auto;width: 300px;border-radius: 6px; padding: 10px;border: 1px solid #6b6b6b;}
table#first-table {color: #3d59af; border-top:1px solid #6b6b6b;}
.admin-active{font-family: 'Open Sans', sans-serif; display: inline-block; width:135px; padding: 0px 30px 0px 16px; line-height: 40px;background-color:#19a82a; font-weight:700; color: white !important; border-radius: 4px; letter-spacing: 0px; text-decoration: none; text-transform: uppercase; position: relative; border: 0px; font-size: 12px; cursor: pointer; transition: background-color 0.25s ease-in-out; -moz-transition: background-color 0.25s ease-in-out; -webkit-transition: background-color 0.25s ease-in-out;}
.admin-active:hover{background-color:#940000;}
.admin-active:after{    font-weight: 400;position: absolute;right: 8px;content: '\e912';display: inline-block;font-family: 'ico-jobland';font-size: 20px;}
.admin-inactive{width:135px;font-family: 'Open Sans', sans-serif; display: inline-block; padding: 0px 30px 0px 16px; line-height: 40px;background-color:#940000; font-weight:700; color: white !important; border-radius: 4px; letter-spacing: 0px; text-decoration: none; text-transform: uppercase; position: relative; border: 0px; font-size: 12px; cursor: pointer; transition: background-color 0.25s ease-in-out; -moz-transition: background-color 0.25s ease-in-out; -webkit-transition: background-color 0.25s ease-in-out;}
.admin-inactive:hover{background-color:#19a82a;}
.admin-inactive:after{    font-weight: 400;position: absolute;right: 8px;content: '\e912';display: inline-block;font-family: 'ico-jobland';font-size: 20px;}
.admin-pending{font-family: 'Open Sans', sans-serif; display: inline-block; width:135px; padding: 0px 30px 0px 16px; line-height: 40px;background-color:#eeb616; font-weight:700; color: white !important; border-radius: 4px; letter-spacing: 0px; text-decoration: none; text-transform: uppercase; position: relative; border: 0px; font-size: 12px; cursor: pointer; transition: background-color 0.25s ease-in-out; -moz-transition: background-color 0.25s ease-in-out; -webkit-transition: background-color 0.25s ease-in-out;}
.admin-pending:hover{background-color:#19a82a;}
.admin-pending:after{    font-weight: 400;position: absolute;right: 8px;content: '\e912';display: inline-block;font-family: 'ico-jobland';font-size: 20px;}

#newsletter-admin {width: 50%;float: left;}
.add-newsletter{width:25%; float:left; margin-top: 20px;border: 1px solid #6b6b6b; padding-left: 20px; padding-right:20px;}
.add-newsletter div label { width: 100%;float: left; text-align:left; padding-top: 10px; padding-bottom: 10px; color:#212c4d;}
.add-newsletter div input{width:100%; line-height:16px; font-size:16px; padding-left:20px; padding-right:20px;padding-top:10px; padding-bottom:10px;}
.add-newsletter button {margin-top: 10px;margin-bottom: 10px;font-family: 'Open Sans', sans-serif;display: inline-block;   line-height: 40px;background-color: #12b312;font-weight: 700;color: white;border-radius: 4px;letter-spacing: 0px;text-decoration: none;text-transform: uppercase;position: relative;border: 0px;font-size: 14px;cursor: pointer;transition: background-color 0.25s ease-in-out;-moz-transition: background-color 0.25s ease-in-out;-webkit-transition: background-color 0.25s ease-in-out;   width: 100px;}

#category-admin {width: 50%;float: left;}
.add-category{width:25%; float:left; margin-top: 20px;border: 1px solid #6b6b6b; padding-left: 20px; padding-right:20px;}
.add-category div label { width: 100%;float: left; text-align:left; padding-top: 10px; padding-bottom: 10px; color:#212c4d;}
.add-category div input{width:100%; line-height:16px; font-size:16px; padding-left:20px; padding-right:20px;padding-top:10px; padding-bottom:10px;}
.add-category button {margin-top: 10px;margin-bottom: 10px;font-family: 'Open Sans', sans-serif;display: inline-block;   line-height: 40px;background-color: #12b312;font-weight: 700;color: white;border-radius: 4px;letter-spacing: 0px;text-decoration: none;text-transform: uppercase;position: relative;border: 0px;font-size: 14px;cursor: pointer;transition: background-color 0.25s ease-in-out;-moz-transition: background-color 0.25s ease-in-out;-webkit-transition: background-color 0.25s ease-in-out;   width: 100px;}
.category-wrapper{width: 60%; float:left;}

.add-category{    border: 1px solid #bebebe;margin: 0px;padding: 20px; width: 250px;margin-left: 40px;}
.add-category p{float:left;margin-right:10px;}
.add-offer{border:1px solid #bebebe; margin:20px; padding:20px;}
.add-offer p{float:left;margin-right:10px; 100%;color: #212c4d;font-size: 18px;font-weight: 500; width:100%;}
.add-offer select, .add-offer input{float: left; height: 40px;line-height: 40px;background: #f4f4f4;padding-left:20px; margin-right:3%; margin-bottom:20px; width:30%}
.add-offer textarea{height: 60px;float:left; line-height: 20px;background: #f4f4f4; margin-right:3%; margin-bottom:20px; width:30%; color: #212c4d;}


