<html>
	<head>
		<title>Dodaj ofertę</title>
		<meta name="description" content=""/>
		<link rel="apple-touch-icon" sizes="180x180" href="{{asset('bundles/jobland/images/favicon/apple-touch-icon.png')}}">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-32x32.png')}}" sizes="32x32">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-16x16.png')}}" sizes="16x16">
		<link rel="manifest" href="{{asset('bundles/jobland/images/favicon/manifest.json')}}">
		<link rel="mask-icon" href="{{asset('bundles/jobland/images/favicon/safari-pinned-tab.svg')}}" color="#6b6b6b">
		<meta name="theme-color" content="#ffffff">
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/style.css')}}" />
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/typicons.min.css')}}" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	</head>
	<body class="">
		<div class="container-wrapper">
			<div class="mask-add-offer">
				<a class="exit"><span class="ico-CLOSE"></span></a>
				<h2>Dziękujemy za dodanie oferty pracy</h2><br/>
				<p>Oferta będzie widoczna na stronie po akceptacji przez Jobland.pl. Potwierdzienie otrzymasz na podany adres email: twoj@adres.pl</p>
				<p><a href="oferty-pracy" class="button">Przejdź do twojego panelu</a>
			
			
			</div>
			<div class="container">
				{{include('JoblandBundle:Blog:header.html.twig')}}
				
				
				<div class="main-wrapper">
					<div class="main">
						<div class="localizer">
							<ul>
								<li>
									<a href="/">{{ 'localizer.homepage'|trans }}</a>
								</li>
								<li>
									<a href="/panel-pracodawcy/panel-glowny">{{ 'localizer.employerpanel.myprofile'|trans }}</a>
								</li>
								<li>
									<a href="/panel-pracodawcy/moje-dane">{{ 'localizer.employerpanel.mydetails'|trans }}</a>
								</li>
							</ul>
						</div>
						<div class="clear">
							<div class="sidebar-wrapper">
								<div class="sidebar">
									<p id="sidebar-trigger">{{ 'localizer.employerpanel.myprofile'|trans }}</p> 
									<ul>
										<li>
											<a href="/panel-pracodawcy/panel-glowny" id="responsive-menu">{{ 'localizer.employerpanel.backtomyprofile'|trans }}</a>
										</li>
										
										<li>
											<a href="/panel-pracodawcy/moje-dane">{{ 'localizer.employerpanel.mydetails'|trans }}</a>
										</li>
										<li>
											<a href="/panel-pracodawcy/moje-oferty">{{ 'localizer.employerpanel.myjoboffers'|trans }}</a>
										</li>
										<li class="active">
											<a href="/panel-pracodawcy/dodaj-oferte">{{ 'localizer.employerpanel.addjoboffer'|trans }}</a>
										</li>
										<li>
											<a href="{{ path('fos_user_security_logout') }}">{{ 'header.buttons.logout'|trans }}</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="content-wrapper">
								<div class="content">
									<h1>{{ 'localizer.employerpanel.addjoboffer'|trans }}</h1>
									<div class="works-offer-add">
									
									<div class="tabs-add-offer-wrapper">
										<ul>
											<li class="active">
												<a href="" data-id="1">POLSKI</a>
											</li>
											<li>
												<a href="" data-id="2">ENGLISH</a>
											</li>
										</ul>
									</div>
									<div class="tabs-content-wrapper">
										<div class="tabs-content">
											<div class="tab tab-external active" id="tab-1">
												<div class="offer-form form">
													{{ form_start(form) }}	
													{{ form_errors(form) }}	
														<h2>TREŚĆ OFERTY PRACY</h2>
														
														<div class="table">
															<div class="table-row">
																<div class="table-cell">
																	{{ form_widget(form.positionname, {'attr': {'class': 'text', 'placeholder': 'Nazwa stanowiska'}}) }}
																</div>
																
															</div>
															
															<div class="table-row">
																<div class="table-cell">
																	{{ form_widget(form.city, {'attr': {'class': 'text', 'placeholder': 'Miejscowość'}}) }}
																</div>
																<div class="table-cell">
																	<div class="select-wrapper">
																		{{ form_widget(form.country, {'attr': {'class': 'select', 'placeholder': 'Kraj'}}) }}
																		</select>
																	</div>
																</div>
															</div>
															<div class="table-row">
																<div class="table-cell">
																	<div class="select-wrapper">
																		{{ form_widget(form.businesssector1, {'attr': {'class': 'select', 'placeholder': 'Branża 1'}}) }}
																	</div>
																	
																	
																</div>
																<div class="table-cell">
																	<div class="select-wrapper">
																		{{ form_widget(form.businesssector2, {'attr': {'class': 'select', 'placeholder': 'Branża 2'}}) }}
																	</div>
																</div>
															</div>
														</div>
														<h2>OPIS PRACODAWCY</h2>
														{{ form_widget(form.description, {'attr': {'class': 'textarea', 'placeholder': ''}}) }}
														<h2>ZAKRES OBOWIĄZKÓW</h2>
														{{ form_widget(form.duties, {'attr': {'class': 'textarea', 'placeholder': ''}}) }}
														<h2>WYMAGANIA</h2>
														{{ form_widget(form.requirements, {'attr': {'class': 'textarea', 'placeholder': ''}}) }}
														<h2>OFERTA DLA KANDYDATA</h2>
														{{ form_widget(form.offer, {'attr': {'class': 'textarea', 'placeholder': ''}}) }}
														
														<h2>Sposób aplikacji</h2>
														{{ form_widget(form.howtoapply, {'attr': {'class': 'text', 'placeholder': 'Podaj adres e-mail do aplikacji'}}) }}
														<p id="info-add-offer">Adres e-mail nie będzie widoczny w ofercie. Przesłanie zgłoszenia odbędzie się poprzez kliknięcie przycisku „Aplikuj” i wypełnienie formularza zgłoszeniowego. Aplikacje będą przesyłane bezpośrednio na podany adres e-mail. Historię aplikacji można również obejrzeć w panelu ogłoszenia.</p>
														
													
														
														<p>&nbsp;</p>
														<button id="button-preview-offer">Podgląd</button>
														{{ form_widget(form.addoffer, {'label' : 'DODAJ OFERTĘ', 'attr': {'class': 'button button-red', 'id' : 'register-button'}}) }}
												
														
												{{ form_end(form) }}

														<p id="see-offer">Oferta będzię  widoczna na stronie po akceptacji przez Jobland.pl</p>
														

												</div>

												
												</div>

											</div>

											
											<div class="tab tab-external" id="tab-2">
												<div class="offer-form form">
													{{ form_start(form) }}	
													{{ form_errors(form) }}	
														<h2>JOB OFFER DETAILS</h2>
														
														<div class="table">
															<div class="table-row">
																<div class="table-cell">
																	{{ form_widget(form.positionname, {'attr': {'class': 'text', 'placeholder': 'Position name'}}) }}
																</div>
																
															</div>
															
															<div class="table-row">
																<div class="table-cell">
																	{{ form_widget(form.city, {'attr': {'class': 'text', 'placeholder': 'City'}}) }}
																</div>
																<div class="table-cell">
																	<div class="select-wrapper">
																		{{ form_widget(form.country, {'attr': {'class': 'select', 'placeholder': 'Country'}}) }}
																		</select>
																	</div>
																</div>
															</div>
															<div class="table-row">
																<div class="table-cell">
																	<div class="select-wrapper">
																		{{ form_widget(form.businesssector1, {'attr': {'class': 'select', 'placeholder': 'Bussines sector 1'}}) }}
																	</div>
																	
																	
																</div>
																<div class="table-cell">
																	<div class="select-wrapper">
																		{{ form_widget(form.businesssector2, {'attr': {'class': 'select', 'placeholder': 'Bussines sector 2'}}) }}
																	</div>
																</div>
															</div>
														</div>
														<h2>EMPLOYER DESCRIPTION</h2>
														{{ form_widget(form.description, {'attr': {'class': 'textarea', 'placeholder': ''}}) }}
														<h2>DUTIES AND RESPONSIBILITIES</h2>
														{{ form_widget(form.duties, {'attr': {'class': 'textarea', 'placeholder': ''}}) }}
														<h2>REQUIREMENTS</h2>
														{{ form_widget(form.requirements, {'attr': {'class': 'textarea', 'placeholder': ''}}) }}
														<h2>OFFER FOR CANDIIDATES</h2>
														{{ form_widget(form.offer, {'attr': {'class': 'textarea', 'placeholder': ''}}) }}
														
														<h2>HOW TO APPLY</h2>
														{{ form_widget(form.howtoapply, {'attr': {'class': 'text', 'placeholder': 'Provide an e-mail address for application'}}) }}
														<p id="info-add-offer">E-mail address will not be displayed in the offer. Applications will be sent after clicking the "Apply" button and filling in the application from. All applications will be sent directly to the provided e-mail address. You can view application history in your user panel.</p>
														
													
														
														<p>&nbsp;</p>
														<button id="button-preview-offer">View job offer</button>
														{{ form_widget(form.addoffer, {'label' : 'SUBMIT JOB OFFER', 'attr': {'class': 'button button-red', 'id' : 'register-button'}}) }}
												
														
												{{ form_end(form) }}

														<p id="see-offer">The offer will be displayed on the web page after Jobland.pl review.</p>
														
												
													</div>
												</div>
											</div>
										</div>

										
										
									</div>
									
									
								</div>
							</div>
						</div>
					</div>
						
				</div>
				
				{{include('JoblandBundle:Blog:footer.html.twig')}}

			<script src="{{asset('bundles/jobland/js/script.js')}}"></script>
			
			</div>
		</div>
	</body>
</html>