<html>
	<head>
		<title>Dodaj ofertę</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<meta name="description" content=""/>
		<link rel="apple-touch-icon" sizes="180x180" href="{{asset('bundles/jobland/images/favicon/apple-touch-icon.png')}}">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-32x32.png')}}" sizes="32x32">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-16x16.png')}}" sizes="16x16">
		<link rel="manifest" href="{{asset('bundles/jobland/images/favicon/manifest.json')}}">
		<link rel="mask-icon" href="{{asset('bundles/jobland/images/favicon/safari-pinned-tab.svg')}}" color="#6b6b6b">
		<meta name="theme-color" content="#ffffff">
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/style.css')}}" />
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/typicons.min.css')}}" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	</head>
	<body class="">
		<div class="container-wrapper">
			<div class="mask-wrapper">
				<div class="mask">
				<h2>Dziękujemy za dodanie oferty pracy</h2><br/>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<p><a href="/dla-kandydatow/oferty-pracy.php" class="button">Przejdź do twojego panelu</a>
			</div>
			
			</div>
			<div class="container">
				{{include('JoblandBundle:Blog:header.html.twig')}}
				
				
				<div class="main-wrapper">
					<div class="main">
						<div class="localizer">
							<ul>
								<li>
									<a href="/">Strona główna</a>
								</li>
								<li>
									<a href="/panel-pracodawcy/panel-glowny">Mój panel</a>
								</li>
								<li>
									<a href="/panel-pracodawcy/edytuj-oferte">Edytuj ofertę</a>
								</li>
							</ul>
						</div>
						<div class="clear">
							<div class="sidebar-wrapper">
								<div class="sidebar">
									<p id="sidebar-trigger">MÓJ PANEL</p> 
									<ul>
										
										<li>
											<a href="/panel-pracodawcy/panel-glowny" id="responsive-menu">Wróć do: mój panel</a>
										</li>
										
										<li>
											<a href="/panel-pracodawcy/moje-dane">Moje dane</a>
										</li>
										<li>
											<a href="/panel-pracodawcy/moje-oferty">Moje oferty pracy</a>
										</li>
										<li>
											<a href="/panel-pracodawcy/dodaj-oferte">Dodaj ofertę pracy</a>
										</li>
										<li>
											<a href="/wyloguj">Wyloguj się</a>
										</li>
									</ul>	
								</div>
							</div>
							<div class="content-wrapper">
								<div class="content">
									<h1>Edytuj ofertę pracy</h1>
									<div class="works-offer-add">
									
									<div class="tabs-wrapper">
										<ul>
											<li class="active">
												<a href="">POLSKI</a>
											</li>
											<li>
												<a href="">ENGLISH</a>
											</li>
										</ul>
									</div>
									<div class="tabs-content-wrapper">
										<div class="tabs-content">
											<div class="tab tab-external active">
												<div class="offer-form form">
													{{ form_start(form) }}	
													{{ form_errors(form) }}	
													
														<h2>TREŚĆ OFERTY PRACY</h2>
																


														
														<div class="table">
															<div class="table-row">
																<div class="table-cell">
																			{{ form_widget(form.name, {'attr': {'class': 'text', 'placeholder': 'Nazwa stanowiska'}}) }}
													
																</div>
																
															</div>
															
															<div class="table-row">
																<div class="table-cell">
																	{{ form_widget(form.city, {'attr': {'class': 'text', 'placeholder': 'Miejscowość'}}) }}
																</div>
																<div class="table-cell">
																	<div class="select-wrapper">
																		{{ form_widget(form.countryid, {'attr': {'class': 'select', 'placeholder': 'Kraj'}}) }}
																	</div>
																</div>
															</div>
															<div class="table-row">
																<div class="table-cell">
																	<div class="select-wrapper">
																		{{ form_widget(form.categoryid, {'attr': {'class': 'select', 'placeholder': 'Branża 1'}}) }}
																	</div>
																	
																	
																</div>
																<div class="table-cell">
																	<div class="select-wrapper">
																		{{ form_widget(form.offercategorid, {'attr': {'class': 'select', 'placeholder': 'Branża 2'}}) }}
																	</div>
																</div>
															</div>
														</div>
														<h2>OPIS PRACODAWCY</h2>
														{{ form_widget(form.jobdescription, {'attr': {'class': 'textarea', 'placeholder': ''}}) }}
														<h2>ZAKRES OBOWIĄZKÓW</h2>
														{{ form_widget(form.employer, {'attr': {'class': 'textarea', 'placeholder': ''}}) }}
														<h2>WYMAGANIA</h2>
														{{ form_widget(form.requirements, {'attr': {'class': 'textarea', 'placeholder': ''}}) }}
														<h2>OFERTA DLA KANDYDATA</h2>
														{{ form_widget(form.applyoffer, {'attr': {'class': 'textarea', 'placeholder': ''}}) }}
														
														<h2>Sposób aplikacji</h2>
														{{ form_widget(form.applyadress, {'attr': {'class': 'text', 'placeholder': 'Podaj adres e-mail do aplikacji'}}) }}
														<p id="info-add-offer">Adres e-mail nie będzie widoczny w ofercie. Przesłanie zgłoszenia odbędzie się poprzez kliknięcie przycisku „Aplikuj” i wypełnienie formularza zgłoszeniowego. Aplikacje będą przesyłane bezpośrednio na podany adres e-mail. Historię aplikacji można również obejrzeć w panelu ogłoszenia.</p>
														
														<button id="button-delete-offer">Usuń ofertę ze strony</button>
														<p id="see-offer">Twoja oferta zostanie przeniesiona do folderu Nieaktywne. W każdej chwili możesz wznowić ofertę.</p>
														<button id="button-preview-offer">Podgląd</button>
														{{ form_widget(form.editoffer, {'label' : 'EDYTUJ OFERTĘ', 'attr': {'class': 'button button-red', 'id' : 'register-button'}}) }}
														<p id="see-offer">Oferta będzię  widoczna na stronie po akceptacji przez Jobland.pl</p>
														
													{{form_end(form)}}

												</div>
												
												</div>

											</div>
											<div class="tab tab-internal">
												

											</div>
										</div>
										
										
									</div>
									
									
								</div>
							</div>
						</div>
					</div>
				</div>
				
				{{include('JoblandBundle:Blog:footer.html.twig')}}
				<script src="{{asset('bundles/jobland/js/script.js')}}"></script>

			</div>
		</div>
	</body>
</html>