<html>
	<head>
		<title>Panel Pracodawcy</title>
		<meta name="description" content=""/>
		<link rel="apple-touch-icon" sizes="180x180" href="{{asset('bundles/jobland/images/favicon/apple-touch-icon.png')}}">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-32x32.png')}}" sizes="32x32">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-16x16.png')}}" sizes="16x16">
		<link rel="manifest" href="{{asset('bundles/jobland/images/favicon/manifest.json')}}">
		<link rel="mask-icon" href="{{asset('bundles/jobland/images/favicon/safari-pinned-tab.svg')}}" color="#6b6b6b">
		<meta name="theme-color" content="#ffffff">
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/style.css')}}" />
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/typicons.min.css')}}" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	</head>
	<body class="">
		<div class="container-wrapper">
			<div class="container">
				
				{{include('JoblandBundle:Blog:header.html.twig')}}
				
				<div class="main-wrapper">
					<div class="main">
						<div class="localizer">
							<ul>
								<li>
									<a href="/">{{ 'localizer.homepage'|trans }}</a>
								</li>
								<li>
									<a href="/panel-pracodawcy/panel-glowny">{{ 'localizer.employerpanel.myprofile'|trans }}</a>
								</li>
								
							</ul>
						</div>
						<div class="clear">
							<div class="sidebar-wrapper">
								<div class="sidebar">
									<p id="sidebar-trigger">{{ 'localizer.employerpanel.myprofile'|trans }}</p> 
									<ul>
										<li>
											<a href="/panel-pracodawcy/panel-glowny" id="responsive-menu">{{ 'localizer.employerpanel.backtomyprofile'|trans }}</a>
										</li>
										
										<li>
											<a href="/panel-pracodawcy/moje-dane">{{ 'localizer.employerpanel.mydetails'|trans }}</a>
										</li>
										<li>
											<a href="/panel-pracodawcy/moje-oferty">{{ 'localizer.employerpanel.myjoboffers'|trans }}</a>
										</li>
										<li>
											<a href="/panel-pracodawcy/dodaj-oferte">{{ 'localizer.employerpanel.addjoboffer'|trans }}</a>
										</li>
										<li>
											<a href="{{ path('fos_user_security_logout') }}">{{ 'header.buttons.logout'|trans }}</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="content-wrapper">
								<div class="content">
									<h1>{{ 'employerpanel.welcomeinjobland'|trans }}</h1>
									<div class="employer-panel">
										<div class="employer-panel-left">
											<div class="employer-panel-left-img">
										{% for entry in userid %}
											{% if entry.profilepicturepath is empty %}
											brak
											</div>
														{{form_start(form)}}
                                                        {{form_widget(form)}}
                                                        {{form_end(form)}}
											
											{% else %}
											<img src="{{ entry.profilepicturepath }}">
											</div>
											<a class="button-delete" href="/web/app_dev.php/employer-panel/delete-logo/{{ entry.id }}">{{ 'employerpanel.deletelogo'|trans }}</a>
											{% endif %}
											{% else %}
											Błąd wczytywania
											{% endfor %}
											
										
										
											
							
											
											
										</div>
										<div class="employer-panel-right">
											<ul>
												<li><a href="/moje-dane"><button>{{ 'localizer.employerpanel.mydetails'|trans }}</button></a></li>
												<li><a href="/moje-oferty"><button>{{ 'localizer.employerpanel.myjoboffers'|trans }}</button></a></li>
												<li><a href="/dodaj-oferte"><button>{{ 'localizer.employerpanel.addjoboffer'|trans }}</button></a></li>
											</ul>

										</div>


									</div>
									
									
								</div>
							</div>
						</div>
					</div>
				</div>
				
			
				{{include('JoblandBundle:Blog:footer.html.twig')}}
				<script src="{{asset('bundles/jobland/js/script.js')}}"></script>
			
			</div>
		</div>
	</body>
</html>