<html>
	<head>
		<title>Moje Dane</title>
		<meta name="description" content=""/>
		<link rel="apple-touch-icon" sizes="180x180" href="{{asset('bundles/jobland/images/favicon/apple-touch-icon.png')}}">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-32x32.png')}}" sizes="32x32">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-16x16.png')}}" sizes="16x16">
		<link rel="manifest" href="{{asset('bundles/jobland/images/favicon/manifest.json')}}">
		<link rel="mask-icon" href="{{asset('bundles/jobland/images/favicon/safari-pinned-tab.svg')}}" color="#6b6b6b">
		<meta name="theme-color" content="#ffffff">
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/style.css')}}" />
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/typicons.min.css')}}" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	</head>
	<body class="">
		<div class="container-wrapper">
			<div class="container">
				
				{{include('JoblandBundle:Blog:header.html.twig')}}
				
				<div class="main-wrapper">
					<div class="main">
						<div class="localizer">
							<ul>
								<li>
									<a href="/">{{ 'localizer.homepage'|trans }}</a>
								</li>
								<li>
									<a href="/panel-pracodawcy/panel-glowny">{{ 'localizer.employerpanel.myprofile'|trans }}</a>
								</li>
								<li>
									<a href="/panel-pracodawcy/moje-dane">{{ 'localizer.employerpanel.mydetails'|trans }}</a>
								</li>
							</ul>
						</div>
						<div class="clear">
							<div class="sidebar-wrapper">
								<div class="sidebar">
									<p id="sidebar-trigger">{{ 'localizer.employerpanel.myprofile'|trans }}</p> 
									<ul>
										<li>
											<a href="/panel-pracodawcy/panel-glowny" id="responsive-menu">{{ 'localizer.employerpanel.backtomyprofile'|trans }}</a>
										</li>
										
										<li class="active">
											<a href="/panel-pracodawcy/moje-dane">{{ 'localizer.employerpanel.mydetails'|trans }}</a>
										</li>
										<li>
											<a href="/panel-pracodawcy/moje-oferty">{{ 'localizer.employerpanel.myjoboffers'|trans }}</a>
										</li>
										<li>
											<a href="/panel-pracodawcy/dodaj-oferte">{{ 'localizer.employerpanel.addjoboffer'|trans }}</a>
										</li>
										<li>
											<a href="{{ path('fos_user_security_logout') }}">{{ 'header.buttons.logout'|trans }}</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="content-wrapper">
								<div class="content">
									<h1>{{ 'localizer.employerpanel.mydetails'|trans }}</h1>

									<div class="register-login-wrapper">
										<h2>{{ 'employerpanel.editpersonaldata'|trans }}</h2>
										<div class="registration-form form">
											<form>	
												
												
												<div class="table">
													<div class="table-row">
														<div class="table-cell">
															<input type="password" placeholder="Nowe hasło" name="email" class="text"/>
														</div>
														<div class="table-cell">
															<input type="password" placeholder="Potwierdź nowe hasło" name="email" class="text"/>
														</div>
													</div>
													<div class="table-row">
														<div class="table-cell">
															<h3>Dane firmy</h3>
														</div>
													</div>
													<div class="table-row">
														<div class="table-cell">
															<input type="text" placeholder="Pełna nazwa firmy" name="email" class="text"/>
														</div>
														<div class="table-cell">
															<input type="text" placeholder="NIP" name="email" class="text"/>
														</div>
													</div>
													<div class="table-row">
														<div class="table-cell">
															<input type="text" placeholder="Numer telefonu" name="email" class="text"/>
														</div>
														<div class="table-cell">
															<input type="text" placeholder="Adres wwww" name="email" class="text"/>
														</div>
													</div>
													<div class="table-row">
														<div class="table-cell">
															<h3>Adres</h3>
														</div>
													</div>
													</div>
														<div class="table-cell-33">
															<input type="text" placeholder="Ulica i numer domu" name="email" class="text"/>
														</div>
														
														<div class="table-cell-33">
															<input type="text" placeholder="Kod pocztowy" name="email" class="text"/>
														</div>
														<div class="table-cell-33">
															<input type="text" placeholder="Miejscowość" name="email" class="text"/>
														</div>

													<div class="table">
													<div class="table-row">
													<div class="table-cell">
															<div class="select-wrapper">
																<select class="select">
																	<option value="" disabled selected>Kraj</option>
																	<option value=1>test 1</option>
																	<option value=2>test 2</option>
																	<option value=3>test 3</option>
																</select>
															</div>	
														</div>
													</div>
													<div class="table-row">
														<div class="table-cell">
															<h3>Osoba kontaktowa</h3>
														</div>
														<div id="registration-form-logo-text" class="table-cell">
															<h3>Logo</h3>
														</div>
													</div>
													<div class="table-row">
														<div class="table-cell">
															<input type="text" placeholder="Imię i nazwisko" name="email" class="text"/>
														</div>
														<div class="table-cell">
														<div class="fileUpload btn btn-primary">
													    	<span>Prześlij plik</span>
													    	<button><input type="file" class="upload" placeholder="Prześlij plik"/></input></button>
														</div>
													</div>

													</div>
													
													
												
											</form>
										
										</div>
										<p>&nbsp;</p>
												<button class="button button-red">Zapisz</button>
												<p>&nbsp;</p>
												<a class="left" href="javascript:void(0)" onclick="return confirm('Czy na pewno skasować konto?');">Usuń konto</a>
												<p>&nbsp;</p>
									</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
									</div>
				
				{{include('JoblandBundle:Blog:footer.html.twig')}}
				<script src="{{asset('bundles/jobland/js/script.js')}}"></script>
			
			</div>
		</div>
	</body>
</html>