<html>
	<head>
		<title>Moje oferty pracy</title>
		<meta name="description" content=""/>
		<link rel="apple-touch-icon" sizes="180x180" href="{{asset('bundles/jobland/images/favicon/apple-touch-icon.png')}}">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-32x32.png')}}" sizes="32x32">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-16x16.png')}}" sizes="16x16">
		<link rel="manifest" href="{{asset('bundles/jobland/images/favicon/manifest.json')}}">
		<link rel="mask-icon" href="{{asset('bundles/jobland/images/favicon/safari-pinned-tab.svg')}}" color="#6b6b6b">
		<meta name="theme-color" content="#ffffff">
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/style.css')}}" />
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/typicons.min.css')}}" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	</head>
	<body class="">
		<div class="container-wrapper">
			<div class="container">
				{{include('JoblandBundle:Blog:header.html.twig')}}
			
				
				
				<div class="main-wrapper">
					<div class="main">
						<div class="localizer">
							<ul>
								<li>
									<a href="/">{{ 'localizer.homepage'|trans }}</a>
								</li>
								<li>
									<a href="/panel-pracodawcy/panel-glowny">{{ 'localizer.employerpanel.myprofile'|trans }}</a>
								</li>
								<li>
									<a href="/panel-pracodwacy/moje-oferty">{{ 'localizer.employerpanel.myjoboffers'|trans }}</a>
								</li>
							</ul>
						</div>
						<div class="clear">
							<div class="sidebar-wrapper">
								<div class="sidebar">
									<p id="sidebar-trigger">{{ 'localizer.employerpanel.myprofile'|trans }}</p> 
									<ul>
										<li>
											<a href="/panel-pracodawcy/panel-glowny" id="responsive-menu">{{ 'localizer.employerpanel.backtomyprofile'|trans }}</a>
										</li>
										
										<li>
											<a href="/panel-pracodawcy/moje-dane">{{ 'localizer.employerpanel.mydetails'|trans }}</a>
										</li>
										<li class="active">
											<a href="/panel-pracodawcy/moje-oferty">{{ 'localizer.employerpanel.myjoboffers'|trans }}</a>
										</li>
										<li>
											<a href="/panel-pracodawcy/dodaj-oferte">{{ 'localizer.employerpanel.addjoboffer'|trans }}</a>
										</li>
										<li>
											<a href="{{ path('fos_user_security_logout') }}">{{ 'header.buttons.logout'|trans }}</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="content-wrapper">
								<div class="content">
									<h1>{{ 'localizer.employerpanel.myjoboffers'|trans }}</h1>
									<h4 id="active-works-offer">{{ 'employerpanel.myjoboffers.active'|trans }}</h4>
								
				                    {% for entry in offers %}
									{% if entry.offerStatus == 1 %}
									
									<div class="active-works-offer-panel">
										<div class="active-works-offer">
											<ul> 
												<li><h2>{{ entry.name}}</h2></li>
												<li><p>{{ entry.city}}, {{ entry.countryId}}</p></li>
												<li><a href="/panel-pracodawcy/inactive-offer/{{ entry.id }}"><span class="ico-CLOSE"><span class="tooltiptext">{{ 'employerpanel.myjoboffers.remove'|trans }}</span></a></span></li>
												<li><a href="/panel-pracodawcy/edytuj-oferte/{{ entry.id}}"><button id="edit-offer">{{ 'employerpanel.myjoboffers.edit'|trans }}</button></a></li>
												<li><a href="/panel-pracodawcy/podglad-oferty/{{ entry.id}}"><button id="preview-offer">{{ 'employerpanel.myjoboffers.preview'|trans }}</button></a></li>
												
											</ul>	
										</div>		
								
								</div>
								{% else %}
								
								{% endif %}
								{% else %}
	
									
									<h2> {{ 'employerpanel.myjoboffers.noactive'|trans }} </h2>
									
									{% endfor %}

								<h4 id="pending-works-offer">{{ 'employerpanel.myjoboffers.pending'|trans }}</h4>
									{% for entry in offers %}
									{% if entry.offerStatus == 2 %}
								<div class="pending-works-offer-panel">
										<div class="pending-works-offer">
											<ul> 
												<li><h2>{{ entry.name}}</h2></li>
												<li><p>{{ entry.city}}, {{ entry.countryId}}</p></li>
												<li><a href="/panel-pracodawcy/inactive-offer/{{ entry.id }}"><span class="ico-CLOSE"><span class="tooltiptext">Przenieś do nieaktywych</span></a></span></li>
												<li><a href="/panel-pracodawcy/edytuj-oferte/{{ entry.id}}"><button id="edit-offer">{{ 'employerpanel.myjoboffers.edit'|trans }}</button></a></li>
												<li><a  target="_blank" href="/panel-pracodawcy/podglad-oferty/{{ entry.id}}"><button id="preview-offer">{{ 'employerpanel.myjoboffers.preview'|trans }}</button></a></li>
												
											</ul>	
										</div>		
								
								</div>
								{% else %}
								
								{% endif %}
								{% else %}
	
									
									<h2> {{ 'employerpanel.myjoboffers.nopending'|trans }} </h2>
									
									{% endfor %}
							
								<h4 id="inactive-works-offer">{{ 'employerpanel.myjoboffers.expired'|trans }}</h4>
								{% for entry in offers %}
								{% if entry.offerStatus == 3 %}
								<div class="inactive-works-offer-panel">
										<div class="inactive-works-offer">

											<ul> 
												<li><h2>{{ entry.name}}</h2></li>
												<li><p>{{ entry.city}},{{ entry.countryId}}</p></li>
												<li><a href="/panel-pracodawcy/renew-offer/{{ entry.id}}"><button id="refresh-offer">{{ 'employerpanel.myjoboffers.renew'|trans }}</button></a></li>
												<li><a href="/panel-pracodawcy/podglad-oferty/{{ entry.id}}"><button id="preview-offer">{{ 'employerpanel.myjoboffers.preview'|trans }}</button></a></li>
												
											</ul>	
										</div>		
								
								</div>
								{% else %}
								
								{% endif %}
								{% else %}
	
									
									<h2> {{ 'employerpanel.myjoboffers.noexpired'|trans }} </h2>
									
									{% endfor %}
									
									
									
								</div>
							</div>
						</div>
					</div>
					
				</div>
				{{include('JoblandBundle:Blog:footer.html.twig')}}
				<script src="{{asset('bundles/jobland/js/script.js')}}"></script>
			
			
			</div>
		</div>
	</body>
</html>