<html>
	<head>
		<title>Oferty Pracy</title>
		<meta name="description" content=""/>
		<link rel="apple-touch-icon" sizes="180x180" href="{{asset('bundles/jobland/images/favicon/apple-touch-icon.png')}}">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-32x32.png')}}" sizes="32x32">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-16x16.png')}}" sizes="16x16">
		<link rel="manifest" href="{{asset('bundles/jobland/images/favicon/manifest.json')}}">
		<link rel="mask-icon" href="{{asset('bundles/jobland/images/favicon/safari-pinned-tab.svg')}}" color="#6b6b6b">
		<meta name="theme-color" content="#ffffff">
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/style.css')}}" />
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/typicons.min.css')}}" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	
	</head>
	<body class="">
		<div class="container-wrapper">
			<div class="container">

									

									
									
									{% for entry in rows %}
									<div class="preview-offer-panel">	
									<img src="{{asset('bundles/jobland/images/logo.png')}}">
									<h1>{{ entry.name}}</h1>
									<p id="works-offer-place">{{ entry.city}}, {{ entry.id}}</p>
									<p id="works-offer-number">REF. NO. {{ entry.id}}</p>
									<h3>EMPLOYER</h3>
									<p>{{ entry.employer}}</p>
									<h3>JOB DESCRIPTION</h3>
									<p>{{ entry.jobdescription}}</p>
									<h3>REQUREMENTS</h3>
									<p>{{ entry.requirements}}</p>
									<h3>OFFER</h3>
									<p>{{ entry.applyoffer}}</p>
									<h3>HOW TO APPLY</h3>
									<p>{{ entry.applyadress}}</p>
									
									
								</div>
									{% else %}
									
									<h2> Nie udało się wczytać </h2>
									
									{% endfor %}
									

									
						
				
							
				<script src="{{asset('bundles/jobland/js/script.js')}}"></script>

			
			</div>
		</div>
		
	</body>
</html>