<html>
	<head>
		<title>O NAS</title>
		<meta name="description" content=""/>
		<link rel="apple-touch-icon" sizes="180x180" href="{{asset('bundles/jobland/images/favicon/apple-touch-icon.png')}}">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-32x32.png')}}" sizes="32x32">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-16x16.png')}}" sizes="16x16">
		<link rel="manifest" href="{{asset('bundles/jobland/images/favicon/manifest.json')}}">
		<link rel="mask-icon" href="{{asset('bundles/jobland/images/favicon/safari-pinned-tab.svg')}}" color="#6b6b6b">
		<meta name="theme-color" content="#ffffff">
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/style.css')}}" />
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/typicons.min.css')}}" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	</head>
	<body class="">
		<div class="container-wrapper">
			<div class="container">
				{{include('JoblandBundle:Blog:header.html.twig')}}
				
				
				<div class="main-wrapper">
					<div class="main">
						<div class="localizer">
							<ul>
								<li>
									<a href="/">Strona główna</a>
								</li>
								<li>
									<a href="/o-nas">O nas</a>
								</li>
								<li>
									<a href="/o-nas">Ogólne informacje</a>
								</li>
							</ul>
						</div>
						<div class="clear">
							<div class="sidebar-wrapper">
								<div class="sidebar">
									<p id="sidebar-trigger">O nas</p>
									<ul>
									    <li>
											<a href="/o-nas" class="active">Ogólne informacje</a>
										</li>
										<li>
											<a href="/media" >Media</a>
										</li>
										<li>
											<a href="/portfolio">Portfolio i referencje</a>
										</li>
										<li>
											<a href="/partnerzy">Partnerzy</a>
										</li>
									</ul>
								
				
								</div>
							</div>
							<div class="content-wrapper">
								<div class="content">
									<h1>O nas</h1>
									<img id="img-about-us" src="{{asset('bundles/jobland/images/badges-vertical.png')}}" alt="" style="float: right; margin-left: 40px" /><h4>Jobland.pl jest internetową platformą rekrutacyjną i serwisem ogłoszeniowym dla osób poszukujących pracy za granicą i w Polsce.</h4>
									<p>Nasza giełda pracy oferuje możliwość zamieszczenia ofert, które dotrą do tysięcy potencjalnych kandydatów i osób poszukujących zatrudnienia. </p>
									<p>Kandydaci mają możliwość przeglądania ofert zgodnie ze swoimi preferencjami, by znaleźć tę, która odpowiada ich aspiracjom i kwalifikacjom. Platforma rekrutacyjna Jobland.pl jest skutecznym narzędziem efektywnej i sprawnej komunikacji między kandydatami a pracodawcami.</p>
									<p>Jobland.pl jest obecny na rynku od 2004 roku. Nasze wieloletnie doświadczenie i uznana marka pozwalają łączyć najbardziej wymagających pracodawców z doświadczonymi i wykwalifikowanymi kandydatami.</p>
									<p>Zapraszamy do zapoznania się z naszą platformą i giełdą pracy.</p>
									<p>&nbsp;</p>
									<p><a href="/oferty-pracy" class="button">PRZEGLĄDAJ OFERTY PRACY</a></p>
									<p><a href="/zamieszczanie-ofert" class="button">ZAMIEŚĆ OFERTĘ PRACY</a></p>	
									<img id="members" src="{{asset('bundles/jobland/images/badges.png')}}">
									
								</div>
							</div>
						</div>
					</div>
				</div>
				
				{{include('JoblandBundle:Blog:footer.html.twig')}}
				<script src="{{asset('bundles/jobland/js/script.js')}}"></script>

			
			</div>
		</div>
	</body>
</html>