<html>
	<head>
		<title>Kontakt</title>
		<meta name="description" content=""/>
		<link rel="apple-touch-icon" sizes="180x180" href="{{asset('bundles/jobland/images/favicon/apple-touch-icon.png')}}">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-32x32.png')}}" sizes="32x32">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-16x16.png')}}" sizes="16x16">
		<link rel="manifest" href="{{asset('bundles/jobland/images/favicon/manifest.json')}}">
		<link rel="mask-icon" href="{{asset('bundles/jobland/images/favicon/safari-pinned-tab.svg')}}" color="#6b6b6b">
		<meta name="theme-color" content="#ffffff">
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/style.css')}}" />
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/typicons.min.css')}}" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBMA4MYz29ud1XyXaK1M7efNx_cCPDsEGA">
		</script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    	<script type = "text/javascript" src="{{asset('bundles/jobland/js/script.js')}}"></script>

		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&subset=latin-ext" rel="stylesheet">
	</head>
			<body class="">
				<div class="container-wrapper">
					<div class="container">
						{{include('JoblandBundle:Blog:header.html.twig')}}
						
						
						<div class="main-wrapper">
							<div class="main">
								<div class="localizer">
									<ul>
										<li>
											<a href="/">HOME</a>
										</li>
										<li>
											<a href="/kontakt">KONTAKT</a>
										</li>
										
									</ul>
								</div>
								<div class="clear">
									<div class="contact-left">
									<h1>KONTAKT</h1>
									<h2>Informacja dla kandydatów</h2>
									<p id="search">Jeśli szukasz pracy zgłoś się bezpośrednio do jednej z ofert pracy:</p>
									<a href="/oferty-pracy"><button>OFERTY PRACY</button></a>
									<p>W razie problemów z aplikacją, CV proszę przesyłać na adres: <a>cv@jobland.pl</a>, zaznaczając numer oferty lub stanowiska.</p>
									<p id="clause">
										W aplikacji proszę zawrzeć następującą klauzulę: „Wyrażam zgodę na przetwarzanie moich danych osobowych przez Jobland.pl Sp. z o.o. z siedzibą w Warszawie, ul. Okopowa 47 lokal 26, 01-059 w celu prowadzenia procesu rekrutacji, w szczególności udostępniania moich danych potencjalnym pracodawcom oraz przedstawiania mi ofert pracy. Potwierdzam, ze zostałem(-am) poinformowany(-a) o dobrowolności podania swoich danych osobowych, prawie wglądu do swoich danych i zgłaszania poprawek.“</p>
									<h2>Kontakt dla Pracodawców</h2>
        							<div class="employer-contact-left">
        								<ul>
        								<li>
        									Jobland.pl
        								</li>
        								<li>
        									ul. Okopowa 47 lokal26,
        								</li>
        								<li>
        									01-059 Warszawa
        								</li>
        								<li>
        									Polska
        								</li>
        							</ul>
        
        							</div>
        							<div class="employer-contact-right">
        								<ul>
        								<li>
        									<a href="tel:48222993957"><span><b>Tel. (</b>+48 22 299 39 57<b>)</b></span></a> 
        								</li>
        								<li>
        									<a href="mailto:kontakt@jobland.com"><span>kontakt@jobland.pl<b class="contact-small-text">(proszę na ten adres nie wysyłać CV)</b></span></a>
        								</li>
        
        
        							</div>

									</div>
									<div class="contact-right">
										<h2>Skontaktuj się z nami</h2>
										{{ form_start(form) }}	
										{{ form_errors(form) }}
										
										<ul>
											<li>
												{{ form_widget(form.name, {'attr': {'class': 'text', 'placeholder': 'Imię i nazwisko'}}) }}
											</li>
											<li>
												{{ form_widget(form.email, {'attr': {'class': 'text', 'placeholder': 'Email'}}) }}
											</li>
											<li>
												{{ form_widget(form.phone, {'attr': {'class': 'text', 'placeholder': 'Numer telefonu'}}) }}
											</li>
											<li>
												<p>Treść wiadomości:</p>
												{{ form_widget(form.message, {'attr': {'class': 'textarea', 'placeholder': ' '}}) }}
											</li>
											<li>
												{{ form_widget(form.agreement, {'attr':{'checked' : 'true'}}) }}<label for="form_agreement"><span></span><p>Wyrażam zgodę na przetwarzanie moich danych osobowych przez Jobland.pl Sp. z o.o.</p></label>
					
											</li>
											<li>
												{{ form_widget(form.send, {'label' : 'Wyślij wiadomość','attr': {'class': 'button button-red'}}) }}
											</li>
										</ul>	
										
											{{ form_end(form) }}			
									
								</div>
						</div>

							</div>
						</div>
									

						
									<div class="maps-google">
									
									
									
									 <div id="googleMap"></div>
									</div>



								</div>
					
						{{include('JoblandBundle:Blog:footer.html.twig')}}

					
					</div>
				</div>
			</body>
		</html>