<div class="footer-wrapper">
	<div class="footer">
		<div class="faq-wrapper">
			<div class="faq">
				<b>{{ 'all.faq'|trans }}</b>
				<div class="table">
					<div class="table-row">
						<div class="table-cell">
							<a href="">Czy muszę okazać paszport lub dowód osobisty przy przekraczaniu granicy Wielkiej Brytanii?</a>
						</div>
						<div class="table-cell">
							<a href="">Czy mam prawo mieszkać w Wielkiej Brytanii?</a>
						</div>
					</div>
					<div class="table-row">
						<div class="table-cell">
							<a href="">Czy moja rodzina może dołączyć do mnie w Wielkiej Brytanii?</a>
						</div>
						<div class="table-cell">
							<a href="">Czy muszę okazać paszport lub dowód osobisty przy przekraczaniu granicy Wielkiej Brytanii?</a>
						</div>
					</div>
					<div class="table-row">
						<div class="table-cell">
							<a href="">Czy moja rodzina może dołączyć do mnie w Wielkiej Brytanii?</a>
						</div>
						<div class="table-cell">
							<a href="">Czy mam prawo mieszkać w Wielkiej Brytanii?</a>
						</div>
					</div>
				</div>
				<a class="button button-transparent right" href="javascript:void(0)">{{ 'header.buttons.morequestion'|trans }}</a>
			</div>
		</div>
		<div class="newsletter-form-wrapper">
			<div class="newsletter-form">
				<b>{{ 'all.newsletterwithoffers'|trans }}</b>
				<form method="post">
					<ul>
						<li>
							<input class="text" type="text" id="newsletter-text" placeholder="Twój email">
						</li>
						<li>
							<input checked="" type="checkbox" id="newsletter_agreement" name="newsletter_agreement"> <label for="newsletter_agreement"><span></span><p>Wyrażam zgodę na przetważanie moich danych osobowych <a id="clause-button">Pełna treść klauzuli.</a></p></label>
						</li>
						<li>
							<a href="/save-newsletter/" id="newsletter-button" class="button">{{ 'header.buttons.subscribe'|trans }}</a>
							<a href="/delete-newsletter/" id="newsletter-delete-button" class="button">{{ 'header.buttons.unsubscribe'|trans }}</a>
						</li>
					
					</ul>
					
					
				</form>
			</div>
		</div>
	
	</div>
	
</div>
<div class="copyright-wrapper">
	<div class="copyright">
		<div class="copyright-info">© 2016 <a href="/">Jobland</a>. All rights reserved. </div>
		<ul id="copyright-social">
			<li><a href="" class="social social-facebook"></a></li>
			<li><a href="" class="social social-twitter"></a></li> 
			<li><a href="" class="social social-googleplus"></a></li>
		</ul>
	</div>
</div>