<head>
		<title>Główna</title>
		<meta name="description" content=""/>
		<link rel="apple-touch-icon" sizes="180x180" href="{{asset('bundles/jobland/images/favicon/apple-touch-icon.png')}}">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-32x32.png')}}" sizes="32x32">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-16x16.png')}}" sizes="16x16">
		<link rel="manifest" href="{{asset('bundles/jobland/images/favicon/manifest.json')}}">
		<link rel="mask-icon" href="{{asset('bundles/jobland/images/favicon/safari-pinned-tab.svg')}}" color="#6b6b6b">
		<meta name="theme-color" content="#ffffff">
		</head>
		
<div class="mask"></div>
				<div class="mask-clause">
						
						<p>Wyrażam zgodę na przetwarzanie moich danych osobowych przez Jobland.pl w Warszawie oraz na wysyłanie informacji handlowych na podany przeze mnie adres poczty elektronicznej. Dane te nie będą przekazywane osobom trzecim. W każdej chwili przysługuje mi prawo do wglądu w dane, zgłaszanie poprawki odwołania zgody na wykorzystanie adresu e-mail w celach marketingowych.</p>
						<p><a href="#" id="close-button" class="button">ZAMKNIJ</a>
				</div>
				{% if app.request.cookies.has('SYMFONY2_TEST') %}
				Yes you accept cookies
                {% else %}
				<div class="cookies-wrapper"> 
				<div class="cookies">
				
			
				
				
				<p>{{ 'header.buttons.logged'|trans }}{{ 'all.cookies'|trans }}</p>
				<button id="cookies" href="{{ path("cookieConsent") }}"> {{ 'all.accept'|trans }}</button>
				
  
				
				</div>
				</div>
				{% endif %}


				<div class="mask-login">
													<h2>{{ 'login.title'|trans }}</h2>
				 									 
													<div class="left-login">
													
													<form method="post" action="{{ path("fos_user_security_check") }}">
													<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
														<ul>
															<li>
																<p>{{ 'login.email'|trans }}</p>
																<input type="text" id="username" placeholder="E-mail" name="_username" value="" required="required">
																<!-- <input type="text" placeholder="E-mail" value="" name="email" class="text"/> -->
															</li>
															<li>
																<p>{{ 'login.password'|trans }}</p>
																<!-- <input type="password" placeholder="Hasło" name="password"  class="text"/> -->
																<input type="password" placeholder="Hasło" class="text" id="password" name="_password" required="required">
															</li>
														</ul>
														<div class="clear">
														<input class="button button-blue right" type="submit" id="_submit" name="_submit" value="{{ 'Zaloguj się'|trans }}" />
															<!-- <a href="/panel-pracodawcy" class="button button-blue right">Zaloguj się</a> -->
														</div>
														</form>
													</div>
													<div class="right-login">
														
														
														<p>{{ 'login.nologin'|trans }}<a href="/register"> {{ 'login.register'|trans }}</a></p>
														<hr>
														<p>{{ 'login.nopassword'|trans }}<a href="{{ path('fos_user_resetting_request') }}"> {{ 'login.click'|trans }}</a></p>
													</div>
													<a class="exit"><span class="ico-CLOSE"></span></a>
												
				</div>
				
			
			
			<div class="share-icons-sidebar">

									<a href="https://www.facebook.com/doradztwo.personalne/" target="_blank"></a>
									<a href="https://twitter.com/" target="_blank"></a>
									<a href="https://plus.google.com/" target="_blank"></a>
									<a href="https://www.linkedin.com/company/jobland.pl" target="_blank"></a>
								</div>
<div class="toolbar-wrapper">
	<div class="toolbar">
		{% if app.user %}
		<ul>
		<li id="language">{{ 'header.buttons.logged'|trans }} <b>{{ app.user }}</b> {%  if is_granted('ROLE_ADMIN')%} </li>
		<li id="admin-href"><a href="/admin/admin-panel">{{ 'localizer.employerpanel.employerpanel'|trans }}</a> {% endif %}  </li>
		<li id="login"><a href="{{ path('fos_user_security_logout') }}">{{ 'header.buttons.logout'|trans }}</a></li>
		</ul>
		{% else %}
		<ul>
			<li id="login">
				<a href="#"><span class="ico-LOGIN"></span>{{ 'header.employer.login'|trans }}</a>
			</li>
			<li id="register">
				<a href="/register"><span class="ico-LOGIN"><b>+</b></span>{{ 'header.employer.registration'|trans }}</a>
			</li>
			<li id="language">
				<a href="/english"><span class="ico-EARTH"></span>{{ 'header.employer.language'|trans }}</a>
			</li>
		</ul>
		{% endif %}
	</div>
</div>
<div class="header-wrapper">
	<div class="header">
		<div class="logo-wrapper">
			<a href="/" title=""></a>
			<span class="mobile-menu-trigger"><i class="typcn typcn-th-menu"></i></span>
		</div>
		<ul>
		<li class="main-button-red"><a href="/dla-kandydatow/oferty-pracy">{{ 'header.buttons.workoffer'|trans }}</a></li>
		{% if app.user %}
		{%  if is_granted('ROLE_EMPLOYER')%}
		<li class="main-button-blue"><a href="/panel-pracodawcy/panel-glowny">{{ 'header.buttons.myprofile'|trans }}</a></li>
		{% endif %}
		{% else %}
		{% endif %}
		</ul>
		
		
		
			
	</div>
</div>
<div class="menu-wrapper">

	<div class="menu">
		{{ render(controller("JoblandBundle:Blog:executeMenuTop", {})) }}
		<!-- <ul class="main-menu"> 
                        <li class="<?php if($currentPage =='glowna'){echo 'active';}?>" id="home-button">
								<a id="home-icon" href="/" title=""><span class="ico-HOME"></span></a>
								<a href="" id="english-icon"><span class="ico-EARTH"></span>ENGLISH</a>
								<span class="ico-CLOSE"></span>
								
						</li>
						<li class="<?php if($currentPage =='onas'){echo 'active';}?> submenu-trigger">
							<a href="/o-nas.php" title="" class="disabled-link">O NAS</a>
							<ul class="submenu" id="submenu"><li><a href="/o-nas.php">Ogólne Informacje</a></li><li><a href="/media.php">Media</a></li><li><a href="/portfolio.php">Portfolio i Referencje</a></li><li><a href="/partnerzy.php">Partnerzy</a></li></ul>
						</li>
						<li class="<?php if($currentPage =='dlapracodawcy'){echo 'active';}?> submenu-trigger">
							<a href="/dla-pracodawcy/jak-dzialamy.php" title="" class="disabled-link">DLA PRACODAWCÓW</a>
							<ul class="submenu" id="submenu"><li><a href="/dla-pracodawcy/jak-dzialamy.php">Jak działamy</a></li><li><a href="/dla-pracodawcy/zamieszczanie-ofert.php">Zamieszczanie ofert pracy</a></li><li><a href="/dla-pracodawcy/newsletter.php">Newsletter</a></li><li><a href="/dla-pracodawcy/branza.php">Branża budownictwa przemysłowego</a></li></ul>
						
						</li>
						<li class="<?php if($currentPage =='dlakandydatow'){echo 'active';}?> submenu-trigger">
							<a href="/dla-kandydatow/jak-dzialamy.php" title="" class="disabled-link">DLA KANDYDATÓW</a>
							<ul class="submenu" id="submenu"><li><a href="/dla-kandydatow/jak-dzialamy.php">Jak działa Jobland.pl?</a></li><li><a href="/dla-kandydatow/oferty-pracy.php">Oferty pracy</a></li><li><a href="/dla-kandydatow/faq.php">FAQ dla wyjeżdżających</a></li><li><a href="/dla-kandydatow/porady-wskazowki.php">Porady i wskazówki</a></li></ul>
						
							
						</li>
						<li class="<?php if($currentPage =='forum'){echo 'active';}?>">
							<a href="/forum.php" title="">FORUM</a>
						</li>
						<li class="<?php if($currentPage =='kontakt'){echo 'active';}?>">
							<a href="/kontakt.php" title="">KONTAKT</a>
						</li>
		</ul> -->
 
		
	</div>
</div>

<script src="{{asset('bundles/jobland/js/main.js')}}"></script>
