<ul class="main-menu">
 <li id="home-button">
								<a id="home-icon" href="/" title=""><span class="ico-HOME"></span></a>
								<a href="" id="english-icon"><span class="ico-EARTH"></span>ENGLISH</a>
								<span class="ico-CLOSE"></span></li>
{% for page in pages %}
 <li class="submenu-trigger">

 
 <a href="{{ page.url }}" class="disabled-link">{{ page.name }}</a>
 {% if page.child is defined %}
 	<ul class="submenu" id="submenu">
 	{% for child in page.child %}
 		<li>
 			
 			<a href="{{ child.url }}">{{ child.name }}</a>
 		</li>
 	{% endfor %}
 	</ul>
 {% endif %}
 </li>
{% endfor %}
</ul>