<html>
	<head>
		<title>News</title>
		<meta name="description" content=""/>
		<link rel="apple-touch-icon" sizes="180x180" href="{{asset('bundles/jobland/images/favicon/apple-touch-icon.png')}}">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-32x32.png')}}" sizes="32x32">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-16x16.png')}}" sizes="16x16">
		<link rel="manifest" href="{{asset('bundles/jobland/images/favicon/manifest.json')}}">
		<link rel="mask-icon" href="{{asset('bundles/jobland/images/favicon/safari-pinned-tab.svg')}}" color="#6b6b6b">
		<meta name="theme-color" content="#ffffff">
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/style.css')}}" />
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/typicons.min.css')}}" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	</head>
	<body class="">
		<div class="container-wrapper">
			<div class="container">
				{{include('JoblandBundle:Blog:header.html.twig')}}
				
				
				
				<div class="main-wrapper">
					<div class="main">
						<div class="localizer">
							<ul>
								<li>
									<a href="/">Strona główna</a>
								</li>
								<li>
									<a href="/news">Aktualności</a>
								</li>
								
							</ul>
						</div>
						<div class="clear">
							
							<div class="news-content-wrapper">
								<div class="content">
									{% for entry in rows %}
									<h1 class="news-title">{{ entry.title}}</h1>
									<p class="news-date">{{ entry.date | date('F j, Y, g:i a')}}</p>
										 {{ entry.content | raw }}
									{% else %}
									{% endfor %}										
									
								</div>
							</div>
						</div>
					</div>
				</div>
				
				{{include('JoblandBundle:Blog:footer.html.twig')}}
				<script src="{{asset('bundles/jobland/js/script.js')}}"></script>
			
			</div>
		</div>
	</body>
</html>