<html>
	<head>
		<title>Portfolio i Referencje</title>
		<meta name="description" content=""/>
		<link rel="apple-touch-icon" sizes="180x180" href="{{asset('bundles/jobland/images/favicon/apple-touch-icon.png')}}">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-32x32.png')}}" sizes="32x32">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-16x16.png')}}" sizes="16x16">
		<link rel="manifest" href="{{asset('bundles/jobland/images/favicon/manifest.json')}}">
		<link rel="mask-icon" href="{{asset('bundles/jobland/images/favicon/safari-pinned-tab.svg')}}" color="#6b6b6b">
		<meta name="theme-color" content="#ffffff">
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/style.css')}}" />
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/typicons.min.css')}}" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	</head>
	<body class="">
		<div class="container-wrapper">
			<div class="container">
				{{include('JoblandBundle:Blog:header.html.twig')}}
				
				
				
				<div class="main-wrapper">
					<div class="main">
						<div class="localizer">
							<ul>
								<li>
									<a href="/">Strona główna</a>
								</li>
								<li>
									<a href="/o-nas">O nas</a>
								</li>
								<li>
									<a href="/portfolio">Portfolio i referencje</a>
								</li>
							</ul>
						</div>
						<div class="clear">
							<div class="sidebar-wrapper">
								<div class="sidebar">
									<p id="sidebar-trigger">O nas</p>
									<ul>
										
									    <li>
											<a href="/o-nas">Ogólne informacje</a>
										</li>
										<li>
											<a href="/media" >Media</a>
										</li>
										<li>
											<a href="/portfolio" class="active">Portfolio i referencje</a>
										</li>
										<li>
											<a href="/partnerzy">Partnerzy</a>
										</li>
									
									</ul>
								</div>
							</div>
							<div class="content-wrapper">
								<div class="content">
									<h1>Portfolio i Referencje</h1>
									
									
									
									<div class="portfolio-wrapper">
										<ul>
											{% for entry in rows %}
											<li>
												<div class="portfolio-header">
													<a href="">{{ entry.name}}<b>{{ entry.city}}, {{ entry.countryid}}, {{ entry.year}}</b></a>
													<a href="javascript:void(0)" class="button button-red button-down"><span>Rozwiń</span></a>
												</div>
												<div class="portfolio-content-wrapper">
													<div class="portfolio-image">
														<img src="{{ entry.imageurl }}" alt="" />
													</div>
													<div class="portfolio-content">
														<b>{{ entry.header | raw }}</b>
														<p>{{ entry.content | raw }}</p>
													</div>
												
													{% if entry.firsturl != NULL and entry.secondurl != NULL and entry.thirdurl != NULL %}
													<div class="portfolio-attachments">
														<p>Do pobrania:</p>
														<ol>
														 	{% if entry.firsturl != NULL %}
															<li class="attachments-pdf">
																<a href="{{ entry.firsturl }}" class="button-red" download>{{ entry.firstfilename }}</a>
															</li>
															{% endif %}
															{% if entry.secondurl != NULL %}
															<li class="attachments-jpg">
																<a href="{{ entry.secondurl}}" class="button-red" download>{{ entry.secondfilename }}</a>
															</li>
															{% endif %}
															{% if entry.thirdurl != NULL %}
															<li class="attachments-doc">
																<a href="{{ entry.thirdurl }}" class="button-red" download>{{ entry.thirdfilename }}</a>
															</li>
															{% endif %}
														</ol>
													</div>
													{% endif %}
													
												</div>
											</li>
											{% else %}
	
									
									<h2> Brak Portfolio </h2>
									
									{% endfor %}
									<div class="navigation">
									{{ knp_pagination_render(rows) }}
									</div>			
											
										</ul>
									</div>
									
									
									
								</div>
							</div>
						</div>
					</div>
				</div>
				
				{{include('JoblandBundle:Blog:footer.html.twig')}}
			
			</div>
		</div>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
		
		<script type="text/javascript">
			$(".portfolio-header .button").click(function(){
				if($(this).hasClass("button-down")){
					$(this).removeClass("button-down");
					$(this).addClass("button-up");
					$(this).html("<span>Zwiń</span>");
					$(this).parent().parent().find(".portfolio-content-wrapper").slideDown();
					$(this).parent().addClass("active");
				}
				else{
					$(this).removeClass("button-up");
					$(this).addClass("button-down");
					$(this).html("<span>Rozwiń</span>");
					$(this).parent().parent().find(".portfolio-content-wrapper").slideUp();
					$(this).parent().removeClass("active");
				}
			});
		</script>
		<script src="{{asset('bundles/jobland/js/script.js')}}"></script>
	</body>
</html>