
		<div class="newsletter-form-wrapper">
			<div class="newsletter-form">
				<b>NEWSLETTER Z OFERTAMI PRACY</b>
				 
					<ul>
						<li>
							{{ form_start(form) }}	
				             {{ form_errors(form) }}			   
							{{ form_widget(form.email, {'attr': {'class': 'text', 'placeholder': 'Podaj adres e-mail do aplikacji'}}) }}
						</li>
						<li>
							<input checked type="checkbox" id="newsletter_agreement" name="newsletter_agreement" /> <label for="newsletter_agreement"><span></span><p>Wyrażam zgodę na przetważanie moich danych osobowych <a id="clause-button">Pełna treść klauzuli.</a></p></label>
						</li>
						<li>
							{{ form_widget(form.newslettersave, {'label' : 'ZAPISZ SIĘ', 'attr': {'class': 'button', 'id' : 'newsletter-button'}}) }}
							
						</li>
					{{ form_end(form) }}
					</ul>
												
					
					
				
			</div>
		</div>