{% extends 'JoblandBundle:Blog:admin/layout-admin.html.twig' %}
{% block bodyClasses %}form-page{% endblock %}
{% block content %}
{{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="admin-panel">
    	<div class="add-page">
        {% if register is defined %}
        <div class="col-lg-12">
            <a href="{{ path('showPage', {'slug': register.megaSlug}) }}" target="_blank">Zobacz stronę</a>            
        </div>
        {% endif %}
        <div class="col-lg-8">    
            <div class="widget-container">
                <div class="widget-header">
                    <h3><i class="icon-list-alt"></i> PODSTAWOWE INFORMACJE</h3>
                    <i class="icon-chevron-down hide-widget"></i>
                </div>
                
                <div class="widget-content">
                    <div>
                        <fieldset>
                            <div class="control-group">
                                <label class="col-sm-3 control-label">
                                    {{ form_label(form.name) }}
                                </label>
                                <div class="col-sm-9">
                                    {{ form_errors(form.name) }}
                                    {{ form_widget(form.name) }}
                                </div>
                            </div>
                            
                            <div class="control-group">
                                <label class="col-sm-3 control-label">
                                    {{ form_label(form.nameMenu) }}
                                </label>
                                <div class="col-sm-9">
                                    {{ form_errors(form.nameMenu) }}
                                    {{ form_widget(form.nameMenu) }}
                                </div>
                            </div>
                             <div class="control-group">
                                <label class="col-sm-3 control-label">
                                    {{ form_label(form.language) }}
                                </label>
                                <div class="col-sm-9">
                                    {{ form_errors(form.language) }}
                                    {{ form_widget(form.language) }}
                                </div>
                            </div>
                          
                            <div class="control-group">
                                <label class="col-sm-3 control-label">
                                    {{ form_label(form.externalUrl) }}
                                </label>
                                <div class="col-sm-9">
                                    {{ form_errors(form.externalUrl) }}
                                    {{ form_widget(form.externalUrl) }}
                                </div>
                            </div>
                            
                            <div class="control-group">
                                <label class="control-label col-sm-3">
                                    {{ form_label(form.content) }}
                                </label>
                                <div class="controls form-group col-sm-9">
                                    {{ form_errors(form.content) }}
                                    {{ form_widget(form.content) }}
                                </div>
                            </div>
                       </fieldset>
                    </div>
                </div>
            </div>
            
            <div class="widget-container">
                <div class="widget-header">
                    
                    <h3><i class="icon-list-alt"></i> SEO</h3>
                    <i class="icon-chevron-down hide-widget"></i>
                </div>
                
                <div class="widget-content">
                    <div>
                        <fieldset>
                            <div class="control-group">
                                <label class="col-sm-3 control-label">
                                    Meta Title
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" id="create_page_metaTitle" name="create_page[option][metaTitle]" value="{{ register.getOption('metaTitle') is defined ? register.getOption('metaTitle') : '' }}">
                                </div>
                            </div>
                            
                            <div class="control-group">
                                <label class="col-sm-3 control-label">
                                    Meta Description
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" id="create_page_metaTitle" name="create_page[option][metaDescription]" value="{{ register.getOption('metaDescription') is defined ? register.getOption('metaDescription') : '' }}">
                                </div>
                            </div>
                            
                            <div class="control-group">
                                <label class="col-sm-3 control-label">
                                    Meta Keywords
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" id="create_page_metaTitle" name="create_page[option][metaKeywords]" value="{{ register.getOption('metaKeywords') is defined ? register.getOption('metaKeywords') : '' }}">
                                </div>
                            </div>
                       </fieldset>
                    </div>
                </div>
            </div>
            {# 
            <div class="import-custom-forms">
                {% if register is defined and register.kind != 0 %}
                    
                        {{ include('AppBundle:Admin:template'~register.kind~'Form.html.twig')}}
                    
                {% endif %}
            </div>
            #}
        </div>  
        <div class="col-lg-4">
            <div class="widget-container">
                <div class="widget-header">
                    <h3><i class="icon-list-alt"></i> AKCJE</h3>
                    <i class="icon-chevron-down hide-widget"></i>
                </div>
                <div class="widget-content">
                    <div>
                        <fieldset>
                            <div class="control-group">
                                <label class="col-sm-6 control-label">Data utworzenia</label>
                                <div class="col-sm-6 form-group">
                                     <div class="form-group">
                                        <div class='input-group date' id='datetimepicker1'>
                                            <input>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       </fieldset>
                    </div>
                    <div class="text-center">
                            {{ form_widget(form.save) }}
                    </div>
                </div>
            </div>
        
            
            <div class="widget-container">
                <div class="widget-header">
                    
                    <h3>DODATKOWE INFORMACJE</h3>
                    <i class="icon-chevron-down hide-widget"></i>
                </div>
                <div class="widget-content">
                    <div class="">
                        <fieldset>
                            <div class="control-group">
                               <label class="control-label col-sm-5">
                                    {{ form_label(form.parent) }}
                                </label>
                                <div class="controls form-group col-sm-7">
                                    {{ form_errors(form.parent) }}
                                    {{ form_widget(form.parent) }}
                                </div>
                            </div>
                            
                            <div class="control-group">
                                <label class="col-sm-5 control-label">
                                    {{ form_label(form.isPublished) }}
                                </label>
                                <div class="col-sm-7">
                                    {{ form_errors(form.isPublished) }}
                                    {{ form_widget(form.isPublished) }}
                                </div>
                            </div>
                            
                            <div class="control-group">
                                <label class="col-sm-5 control-label">
                                    {{ form_label(form.isFeatured) }}
                                </label>
                                <div class="col-sm-7">
                                    {{ form_errors(form.isFeatured) }}
                                    {{ form_widget(form.isFeatured) }}
                                </div>
                            </div>
                            
                            <div class="control-group">
                                <label class="col-sm-5 control-label">{{ form_label(form.kind) }}</label>
                                <div class="col-sm-7">
                                    {{ form_errors(form.kind) }}
                                    {{ form_widget(form.kind) }}
                                </div>
                            </div>
                       </fieldset>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
{{ form_end(form) }}


{% endblock content %}
{#

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            {% if register.id is defined %}
                pageId = {{ register.id }};
            {% else %}
                pageId = 0;
            {% endif %}
            
            $('#create_page_kind').change(function() {
                val = $(this).val();
                $.post( "{{path('pageCustomField')}}", { id: val, pageId: pageId} ).done(function( data ) {
                    $('.import-custom-forms').html(data);
                }); 
            });
        });
        
    </script>
{% endblock %}
 #}