{# Panel Administracyjny #}
{% extends 'JoblandBundle:Blog:admin/layout-admin.html.twig' %}

{% block title %}News{% endblock %}


{% block content %}


    <div class="tabs-wrapper">
    									<ul>
    										<li class="active">
    											<a href="/web/app_dev.php/admin/about-us" data-id="1">Dodaj pytanie</a>
    										</li>
    										<li>
    											<a href="/web/app_dev.php/admin/about-us" data-id="2">FAQ</a>
    										</li>
    										<li>
    											<a href="/web/app_dev.php/admin/about-us" data-id="3">Porady i wskazówki</a>
    										</li>
    										</ul>
	</div>
                                            <div class="tabs-content-wrapper">
                                            <div class="tabs-content">									
                                            <div class="tab tab-external active" id="tab-1">
                                            <div class="add-news">
                                            {{form_start(subkindform)}}
                                            {{form_widget(subkindform)}}
                                            {{form_end(subkindform)}}
                                            </div>
                                            <div class="add-news">
                                            {{form_start(form)}}
                                            {{form_widget(form)}}
                                            {{form_end(form)}}
                                            </div>
                                            </div>
                                            </div>
                                            </div>
                                            

<div class="tabs-content-wrapper">
<div class="tabs-content">									
<div class="tab tab-external" id="tab-2">
<div class="admin-panel" id="news-admin">
	
	<table id="first-table">
	<tr>FAQ</tr>
	<tr>
		<th>ID</th>
		<th>Pytanie</th>
		<th>Podkategoria</th>
		<th>Opcje Pytań</th>
		
	
		
		
		
	</tr>
	</table>
	{% for entry in rows %}
	 {% if entry.questionkindid == 1 %}
	<table>
	<tr>
		<th>{{ entry.id}}</th>
		<th>{{ entry.question}}</th>
		{% for sub in subkind %}
		{% if entry.questionsubkindid == sub.id %}
		<th>{{ sub.name }}</th>
		{% endif %}
		{% endfor %}
		
		
		<th><a href="/admin/edit-question/{{ entry.id}}" class="button">Edytuj</button><a  href="/admin/question/{{ entry.id}}" class="main-button-red">Usuń</a></th>
		
	</tr>
	</table>
	{% endif %}	
	
	
	{% else %}
	
									
									<h2> Brak Zapytań </h2>
									
									{% endfor %}
									
									
	
	
	
</div>
</div>
</div>
<div class="tabs-content-wrapper">
<div class="tabs-content">									
<div class="tab tab-external" id="tab-3">
<div class="admin-panel" id="news-admin">
	<table id="first-table">
	<tr>Porady i wskazówki</tr>
	<tr>
		<th>ID</th>
		<th>Pytanie</th>
		<th>Podkategoria</th>
		<th>Opcje Pytań</th>
		
	
		
		
		
	</tr>
	</table>
	{% for entry in rows %}
	 {% if entry.questionkindid == 2 %}
	<table>
	<tr>
		<th>{{ entry.id}}</th>
		<th>{{ entry.question}}</th>
		{% for sub in subkind %}
		{% if entry.questionsubkindid == sub.id %}
		<th>{{ sub.name }}</th>
		{% endif %}
		{% endfor %}
		
		
		<th><a href="/admin/edit-question/{{ entry.id}}" class="button">Edytuj</button><a  href="/admin/question/{{ entry.id}}" class="main-button-red">Usuń</a></th>
		
	</tr>
	</table>
	{% endif %}	
	
	
	{% else %}
	
									
									<h2> Brak Zapytań </h2>
									
									{% endfor %}
								

</div>

</div>
</div>
</div>



{% endblock %}