{# Panel Administracyjny #}
{% extends 'JoblandBundle:Blog:admin/layout-admin.html.twig' %}

{% block title %}Strona Aktualności{% endblock %}


{% block content %}




<div class="admin-panel">
	<div class="category-wrapper">
	<table id="first-table">
	<tr>
		<th>ID</th>
		<th>Kategoria</th>
		<th>Opcje Kategorii</th>
		
		
	</tr>
	</table>
	{% for entry in rows %}
	<table>
	<tr>
		<th>{{ entry.id}}</th>
		<th>{{ entry.name}}</th>
		<th><a href="/admin/edit-category/{{ entry.id}}" class="button">Edytuj</button><a href="/admin/delete-category/{{ entry.id}}" class="main-button-red">Usuń</a></th>
		
	</tr>
	</table>
		
	
	
	{% else %}
	
									
									<h2> Brak ofert Pracy </h2>
									
									{% endfor %}
									<div class="navigation">
									{{ knp_pagination_render(rows) }}
									</div>

</div>
<div class="add-category">
{{form_start(form)}}
{{form_widget(form)}}
{{form_end(form)}}
</div>

</div>
{% endblock %}