{# Panel Administracyjny #}
{% extends 'JoblandBundle:Blog:admin/layout-admin.html.twig' %}

{% block title %}Pracodawcy{% endblock %}


{% block content %}

<div class="admin-panel">
	
	<table id="first-table">
	<tr>
		<th>ID</th>
		<th>Pracodawca</th>
		<th>NIP</th>
		<th>Miasto</th>
		<th class=email-admin">Email</th>
		<th>Osoba kontaktowa</th>
		<th>Nr telefonu</th>
		<th>Opcje Użytkowników</th>
		
	</tr>
	</table>
	{% for entry in rows %}
	<table>
	<tr>
		<th>{{ entry.id}}</th>
		<th>{{ entry.company}}</th>
		<th>{{ entry.nip}}</th>
		<th>{{ entry.city}}</th>
		<th class=email-admin">{{ entry.email }}</th>
		<th>{{ entry.contactperson}}</th>
		<th>{{ entry.phonenumber}}</th>
		<th><a href="/admin/edit-employer/{{ entry.id}}" class="button">Edytuj</a><a href="/admin/delete-employer/{{ entry.id}}" class="main-button-red">Usuń</a></th>
		
	</tr>
	</table>
		
	
	
	{% else %}
	
									
									<h2> Brak ofert Pracy </h2>
									
									{% endfor %}
</div>

				
{% endblock %}