{# Panel Administracyjny #}
{% extends 'JoblandBundle:Blog:admin/layout-admin.html.twig' %}

{% block title %}Strona Aktualności{% endblock %}


{% block content %}
<div class="admin-panel">
	Witaj w Panelu ADMINISTRACYJNYM
	</div>
{% endblock %}

