{# Panel Administracyjny #}
{% extends 'JoblandBundle:Blog:admin/layout-admin.html.twig' %}

{% block title %}Oferty Pracy{% endblock %}


{% block content %}
<a href="/admin/active-offers" class="main-button-green">Aktywuj wszystkie oczekujące oferty</a>
<div class="add-offer">

{{form_start(form)}}

<p>Dodaj nową ofertę</p>
{{ form_widget(form.name, {'attr': {'class': 'text', 'placeholder': 'Nazwa stanowiska'}}) }}
{{ form_widget(form.city, {'attr': {'class': 'text', 'placeholder': 'Miejscowość'}}) }}
{{ form_widget(form.countryid, {'attr': {'class': 'select', 'placeholder': 'Kraj'}}) }}
{{ form_widget(form.categoryid, {'attr': {'class': 'select', 'placeholder': 'Branża'}}) }}
{{ form_widget(form.offercategorid, {'attr': {'class': 'select', 'placeholder': 'Branża'}}) }}
{{ form_widget(form.employer, {'attr': {'class': 'textarea', 'placeholder': 'Opis pracodawcy'}}) }}
{{ form_widget(form.jobdescription, {'attr': {'class': 'textarea', 'placeholder': 'Zakres obowiązków'}}) }}
{{ form_widget(form.requirements, {'attr': {'class': 'textarea', 'placeholder': 'Wymagania'}}) }}
{{ form_widget(form.applyoffer, {'attr': {'class': 'textarea', 'placeholder': 'Oferta dla kandydata'}}) }}
{{ form_widget(form.applyadress, {'attr': {'class': 'textarea', 'placeholder': 'Email do aplikacji'}}) }}
{{ form_widget(form.addoffer,{'attr': {'class': 'main-button-green'}}) }}
{{form_end(form)}}
</div>
<div class="admin-panel">
	
	<table id="first-table">
	<tr>
		<th>ID</th>
		<th>Oferta pracy</th>
		<th>Miasto</th>
		<th>Państwo</th>
		<th>Pracodawca</th>
		<th class=email-admin">E-mail</th>
		<th>Status oferty</th>
		<th>Do Aktywacji</th>
		<th>Opcje Oferty</th>
	</tr>
	</table>
	{% for entry in rows %}
	<table>
	<tr>
		<th>{{ entry.id}}</th>
		<th>{{ entry.name}}</th>
		<th>{{ entry.city}}</th>
		<th>{{ entry.countryId}}</th>
		<th>{{ entry.userId}}</th>
		<th class=email-admin">{{ entry.applyadress}}</th>
		{%   if entry.offerstatus == 1 %}<th>Aktywna</th>
		{% elseif entry.offerstatus == 2 %}<th>Oczekująca</th>
		{% elseif entry.offerstatus == 3 %}<th>Nieaktywna</th>
		{% endif %}
		<th>{% if entry.offerstatus == 2 %}
<a href="/admin/active-offer/{{ entry.id}}" class="admin-pending">Oczekujące</a>

{% endif %}</th>
		<th><a href="/admin/edit-offer/{{ entry.id}}" class="button">Edytuj</a><a href="/admin/delete-offer/{{ entry.id}}" class="main-button-red">Usuń</a></th>
	</tr>
	</table>
		
	
	
	{% else %}
	
									
									<h2> Brak ofert Pracy </h2>
									
									{% endfor %}
</div>

{% endblock %}
