{# Panel Administracyjny #}
{% extends 'JoblandBundle:Blog:admin/layout-admin.html.twig' %}

{% block title %}News{% endblock %}


{% block content %}
<div class="tabs-wrapper">
									<ul>
										<li class="active">
											<a href="/web/app_dev.php/admin/about-us" data-id="1">Media</a>
										</li>
										<li>
											<a href="/web/app_dev.php/admin/about-us" data-id="2">Portfolio</a>
										</li>
										<li>
											<a href="/web/app_dev.php/admin/about-us" data-id="3">Partnerzy</a>
										</li>
										</ul>
										</div>
<div class="tabs-content-wrapper">
<div class="tabs-content">									
<div class="tab tab-external active" id="tab-1">					

<div class="admin-wrapper">
<div class="admin-panel" id="news-admin">
	
	<table id="first-table">
	<tr>
		<th>ID</th>
		<th>Tytuł</th>
		<th>Status</th>
		<th>Data Publikacji</th>
		<th>URL</th>
		<th>Opcje Aktualności</th>
		
		
		
	</tr>
	</table>
	{% for entry in mediarows %}
	<table>
	<tr>
		<th>{{ entry.id}}</th>
		<th>{{ entry.title}}</th>
		{%   if entry.status == 1 %}<th>Opublikowany</th>
		{% else %}
		<th>Niepublikowany</th>
		{% endif %}
		
		<th>{{ entry.date | date('l, F j, Y')}}</th>
		<th>{{ entry.url}}</th>
		<th><a href="/admin/edit-media/{{ entry.id}}" class="button">Edytuj</button><a  href="/admin/delete-news/{{ entry.id}}" class="main-button-red">Usuń</a></th>
		
	</tr>
	</table>
		
	
	
	{% else %}
	
									
									<h2> Brak Mediów </h2>
									
									{% endfor %}


</div>
	
<div class="add-news">
{{form_start(mediaform)}}
{{form_widget(mediaform)}}
{{form_end(mediaform)}}
</div>
</div>
</div>
<div class="tab tab-external" id="tab-2">
<div class="admin-panel" id="news-admin">
<table id="first-table">
	<tr>
		<th>ID</th>
		<th>Tytuł</th>
		<th>Miasto</th>
		<th>Kraj</th>
		<th>Rok</th>
		<th>Opcje</th>
		
		
		
		
	</tr>
	</table>
	{% for entry in portfoliorows %}
	<table>
	<tr>
		<th>{{ entry.id}}</th>
		<th>{{ entry.name}}</th>
		<th>{{ entry.city}}</th>
		<th>{{ entry.countryid}}</th>
		<th>{{ entry.year }}</th>
		
		
		<th><a href="/admin/edit-portfolio/{{ entry.id}}" class="button">Edytuj</button><a  href="/admin/delete-portfolio/{{ entry.id}}" class="main-button-red">Usuń</a></th>
		
	</tr>
	</table>
		
	
	
	{% else %}
	
									
									<h2> Brak Portfolio </h2>
									
									{% endfor %}


</div>
	
<div class="add-news">
{{form_start(portfolioform)}}
{{form_widget(portfolioform)}}
{{form_end(portfolioform)}}
</div>
</div>
<div class="tab tab-external" id="tab-3">
<div class="admin-panel" id="news-admin">
<table id="first-table">
	<tr>
		<th>ID</th>
		<th>Partner</th>
		<th>Link</th>
		<th>Logo url</th>
		<th>Opcje</th>
		
		
		
		
	</tr>
	</table>
	{% for entry in partnersrows %}
	<table>
	<tr>
		<th>{{ entry.id}}</th>
		<th>{{ entry.name}}</th>
		<th>{{ entry.link}}</th>
		<th>{{ entry.logourl}}</th>
		
		
		<th><a href="/admin/edit-partners/{{ entry.id}}" class="button">Edytuj</button><a  href="/admin/delete-partners/{{ entry.id}}" class="main-button-red">Usuń</a></th>
		
	</tr>
	</table>
		
	
	
	{% else %}
	
									
									<h2> Brak Partnerów </h2>
									
									{% endfor %}


</div>
<div class="add-news">
{{form_start(partnersform)}}
{{form_widget(partnersform)}}
{{form_end(partnersform)}}
</div>
</div>
</div>
</div>
 <script>
  $( function() {
    $( "#form_date" ).datepicker();
    
  } );
  </script>
{% endblock %}