{# Panel Administracyjny #}
{% extends 'JoblandBundle:Blog:admin/layout-admin.html.twig' %}

{% block title %}News{% endblock %}


{% block content %}
<div class="admin-panel" id="news-admin">
	
	<table id="first-table">
	<tr>
		<th>ID</th>
		<th>Tytuł</th>
		<th>Status</th>
		<th>Data Publikacji</th>
		<th>Opcje Aktualności</th>
		
		
		
	</tr>
	</table>
	{% for entry in rows %}
	<table>
	<tr>
		<th>{{ entry.id}}</th>
		<th>{{ entry.title}}</th>
		{%   if entry.status == 1 %}<th>Główny</th>
		{% elseif entry.status == 2 %}<th>Inne</th>
		{% elseif entry.status == 3 %}<th>Nieaktywny</th>
		{% endif %}
		<th>{{ entry.date | date('l, F j, Y')}}</th>
		<th><a href="/admin/edit-news/{{ entry.id}}" class="button">Edytuj</button><a href="/admin/delete-news/{{ entry.id}}" class="main-button-red">Usuń</a></th>
		
	</tr>
	</table>
		
	
	
	{% else %}
	
									
									<h2> Brak Aktualności </h2>
									
									{% endfor %}


</div>
<div class="add-news">
{{form_start(form)}}
{{form_widget(form)}}
{{form_end(form)}}
</div>
<script>
  $( function() {
    $( "#form_date" ).datepicker();
  } );
  </script>
{% endblock %}
