{# Panel Administracyjny #}
{% extends 'JoblandBundle:Blog:admin/layout-admin.html.twig' %}

{% block title %}Newsletter{% endblock %}


{% block content %}

<div class="admin-panel"  id="newsletter-admin">
	  
	<table id="first-table">
	<tr>
		<th>ID</th>
		<th class="email-admin">Email</th>
		<th>Status</th>
		<th>Opcje Newslettera</th>
		
		
	</tr>
	</table>
	{% for entry in rows %}
	<table>
	<tr>
		<th>{{ entry.id}}</th>
		<th class="email-admin">{{ entry.email}}</th>
		<th>
{% if entry.status == 1 %}
<a href="inactive-newsletter/{{ entry.id}}" class="admin-active">Aktywny</a>
{% else %}
<a href="active-newsletter/{{ entry.id}}" class="admin-inactive">Nieaktywny</a>
{% endif %}</th>
		<th><a href="/admin/edit-newsletter/{{ entry.id}}" class="button">Edytuj</button><a href="/admin/delete-newsletter/{{ entry.id}}" class="main-button-red">Usuń</a></th>
		
	</tr>
	</table>
		
	
	
	{% else %}
	
									
									<h2> Brak osób zapisanych w Newsletterze </h2>
									
		
									{% endfor %}
              

</div>
<div class="add-newsletter">
                    {{form_start(form)}}
                    {{form_widget(form)}}
                    {{form_end(form)}}
                </div>

{% endblock %}