{# Panel Administracyjny #}
{% extends 'JoblandBundle:Blog:admin/layout-admin.html.twig' %}

{% block title %}Oferty Pracy{% endblock %}


{% block content %}

<div class="edit-news">
<a href="/admin/news">Powrót</a>
{{form_start(form)}}
{{form_widget(form)}}
{{form_end(form)}}
</div>
</div>
<<script type="text/javascript">
$( function() {
    $( "#form_date" ).datepicker();
  } );
</script>
{% endblock %}

