{# Panel Administracyjny #}
{% extends 'JoblandBundle:Blog:admin/layout-admin.html.twig' %}

{% block title %}Oferty Pracy{% endblock %}


{% block content %}
<div class="edit-form">				
<a href="/admin/newsletter">Back</a>
{{form_start(form)}}
{{form_widget(form)}}
{{form_end(form)}}
</div>
</div>
{% endblock %}

