<html style="background-color: #F5F5DC;">
	<head>
		<title>Panel Administracyjny</title>
		<meta name="description" content=""/>
		<link rel="apple-touch-icon" sizes="180x180" href="{{asset('bundles/jobland/images/favicon/apple-touch-icon.png')}}">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-32x32.png')}}" sizes="32x32">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-16x16.png')}}" sizes="16x16">
		<link rel="manifest" href="{{asset('bundles/jobland/images/favicon/manifest.json')}}">
		<link rel="mask-icon" href="{{asset('bundles/jobland/images/favicon/safari-pinned-tab.svg')}}" color="#6b6b6b">
		<meta name="theme-color" content="#ffffff">
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/style.css')}}" />
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/jquery-ui.theme.min.css')}}" />
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/jquery-ui.min.css')}}" />
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/style.css')}}" />
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/ckeditor/ckeditor.css')}}" />
		{% block stylesheets %}{% endblock %}
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/admin-style.css')}}" />
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/typicons.min.css')}}" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		 <link rel="stylesheet" type="text/css" href="{{asset('bundles/jobland/slick/slick.css')}}"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	</head>
	<body class="admin">
		<div class="admin-wrapper">
			<div class="container">
				<div class="admin-menu-wrapper">
							
							<ul>
											
												<li>
													<a href="/admin/admin-panel" title="Panel Administracyjny"><img src="{{asset('bundles/jobland/images/logo.png')}}"></a>
												</li>
												<li>
													<a href="/admin/offers" title="Oferty Prac">Oferty Pracy</a>
												</li>
												<li>
													<a href="/admin/employers" title="Użytkownicy">Użytkownicy</a>
												</li>
												<li>
													<a href="/admin/info-page" title="Strony informacyjne">Strony informacyjne</a>
												</li>
												<li>
													<a href="/admin/newsletter" title="Newsletter">Newsletter</a>
												</li>
												<li>
													<a href="/admin/category" title="Kategorie">Kategorie</a>
												</li>
												<li>
													<a href="/admin/news" title="Aktualności">Aktualności</a>
												</li>
												<li>
													<a href="/admin/about-us" title="O nas">O nas</a>
												</li>
												<li>
													<a href="/admin/questions" title="Pytania">Pytania</a>
												</li>
												
													{% if app.user %}
	
														<li><a href="/">Strona Główna</a> | <a href="{{ path('fos_user_security_logout') }}">Wyloguj</a></li>
			                                        {% else %}
			                                        {% endif %}
												
							</ul>

					
				</div>


				  {% block content %}
                {% endblock content %}

</div></div>
			{% block javascripts %}{% endblock %}	
			<script src="{{asset('bundles/jobland/js/main.js')}}"></script>
			<script src="{{asset('bundles/jobland/js/script.js')}}"></script>
			<script src="{{asset('bundles/jobland/js/jquery-ui.min.js')}}"></script>
			<script src="{{asset('bundles/jobland/ckeditor/ckeditor.js')}}"></script>
	</body>
</html>
