{% extends 'JoblandBundle:Blog:admin/layout-admin.html.twig' %}

{% block title %}Page List{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/jobland/css/jquery.nestable.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="admin-page-list">
    <a href="{{ path('addPage') }}">Dodaj stronę</a>
    <div class="dd" id="nestable">
        {#<ol class="dd-list">
        {% for el in pages %}
            <li class="dd-item" data-id="{{ el.id }}">
                <div class="dd-handle">{{ el.name }} 
                    <span class="action dd-nodrag">
                        <a href="{{ path('editPage', {'id': el.id}) }}">edytuj</a>
                        &nbsp;|&nbsp;
                        <a onclick="return confirm('Czy potwierdzasz usunięcie?');" href="{{ path('deletePage', {'id': el.id}) }}">usuń</a>
                    </span>
                </div>            
            </li>
        {% endfor %}
        </ol>#}
        <div class="admin-page-wrapper">
									<ul>
										<li class="active">
											<a href="/" data-id="1">PL</a>
										</li>
										<li>
											<a href="/" data-id="2">EN</a>
										</li>
									</ul>
		</div>
       <div id="tab-1" class="admin-page-content active"> 
        <ol class="dd-list active">
            {% for key, id in flattenTree %}
                {% if id != 0 %}
                 {% if pages[id].language == "PL" %}
                    {% if pages[id] is defined %}
                      

                        {% set currentDeep = ((pages[id].getPath()|split(' '))|length)-1 %}

                        {% if flattenTree[key+1] is defined %}
                            {% set nextDeep = ((pages[flattenTree[key+1]].getPath()|split(' '))|length)-1 %}
                        {% else %}
                            {% set nextDeep = 0 %}
                        {% endif %}

                        {% if flattenTree[key-1] is defined %}
                            {% set previousDeep = ((pages[flattenTree[key-1]].getPath()|split(' '))|length)-1 %}
                        {% else %}
                            {% set previousDeep = 0 %}
                        {% endif %}
                        <li class="dd-item" data-id="{{ pages[id].id }}">
                        
                        {{ pages[id].kind }}
                            <div class="dd-handle">{{ pages[id].name }} 
                                <span class="action dd-nodrag">
                                    <a href="{{ path('editPage', {'id': pages[id].id}) }}">edytuj</a>
                                    &nbsp;|&nbsp;
                                    <a onclick="return confirm('Czy potwierdzasz usunięcie?');" href="{{ path('deletePage', {'id': pages[id].id}) }}">usuń</a>
                                </span>
                            </div>

                        {% if(currentDeep == nextDeep) %}
                            </li>
                        {% elseif(currentDeep < nextDeep) %}
                            <ol class='dd-list'>
                        {% elseif(currentDeep > nextDeep) %}
                            {% for i in 1..currentDeep - nextDeep %}
                                </ol></li>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ol>
        </div>
        <div id="tab-2" class="admin-page-content">
          <ol class="dd-list">
            {% for key, id in flattenTree %}
                {% if id != 0 %}
                 {% if pages[id].language == "EN" %}
                    {% if pages[id] is defined %}
                      

                        {% set currentDeep = ((pages[id].getPath()|split(' '))|length)-1 %}

                        {% if flattenTree[key+1] is defined %}
                            {% set nextDeep = ((pages[flattenTree[key+1]].getPath()|split(' '))|length)-1 %}
                        {% else %}
                            {% set nextDeep = 0 %}
                        {% endif %}

                        {% if flattenTree[key-1] is defined %}
                            {% set previousDeep = ((pages[flattenTree[key-1]].getPath()|split(' '))|length)-1 %}
                        {% else %}
                            {% set previousDeep = 0 %}
                        {% endif %}
                        <li class="dd-item" data-id="{{ pages[id].id }}">
                        
                        {{ pages[id].kind }}
                            <div class="dd-handle">{{ pages[id].name }} 
                                <span class="action dd-nodrag">
                                    <a href="{{ path('editPage', {'id': pages[id].id}) }}">edytuj</a>
                                    &nbsp;|&nbsp;
                                    <a onclick="return confirm('Czy potwierdzasz usunięcie?');" href="{{ path('deletePage', {'id': pages[id].id}) }}">usuń</a>
                                </span>
                            </div>

                        {% if(currentDeep == nextDeep) %}
                            </li>
                        {% elseif(currentDeep < nextDeep) %}
                            <ol class='dd-list'>
                        {% elseif(currentDeep > nextDeep) %}
                            {% for i in 1..currentDeep - nextDeep %}
                                </ol></li>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                      {% endif %}
                {% endif %}
            {% endfor %}
        </ol>
        </div>
    </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/jobland/js/jquery-sortable.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/jobland/js/jquery.nestable.js') }}"></script>
    <script type="text/javascript">
    $(window).load(function() {
         var updateOutput = function(e)
            {
                var list   = e.length ? e : $(e.target),
                    output = list.data('output');
                if (window.JSON) {
                    output.val(window.JSON.stringify(list.nestable('serialize')));//, null, 2));
                } else {
                    output.val('JSON browser support required.');
                }   

                $.post( "{{path('pageListPositionUpdate')}}", { sortedList: list.nestable('serialize')} ).done(function( data ) {
                    
                }); 
            };

            // activate Nestable for list 1
            $('#nestable').nestable({
                group: 1,
                maxDepth: 2
            })
            .on('change', updateOutput);
            
            // output initial serialised data
            $('#nestable').data('output', $('#nestable-output'));
            

            $('#nestable-menu').on('click', function(e)
            {
                var target = $(e.target),
                    action = target.data('action');
                if (action === 'expand-all') {
                    $('.dd').nestable('expandAll');
                }
                if (action === 'collapse-all') {
                    $('.dd').nestable('collapseAll');
                }
            });
    });
</script>
{% endblock %}