<html>
	<head>
		<title>Aplikuj</title>
		<meta name="description" content=""/>
		<link rel="apple-touch-icon" sizes="180x180" href="{{asset('bundles/jobland/images/favicon/apple-touch-icon.png')}}">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-32x32.png')}}" sizes="32x32">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-16x16.png')}}" sizes="16x16">
		<link rel="manifest" href="{{asset('bundles/jobland/images/favicon/manifest.json')}}">
		<link rel="mask-icon" href="{{asset('bundles/jobland/images/favicon/safari-pinned-tab.svg')}}" color="#6b6b6b">
		<meta name="theme-color" content="#ffffff">
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/style.css')}}" />
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/typicons.min.css')}}" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	</head>
	<body class="">
		
		<div class="container-wrapper">
			
				<div class="mask-apply">
				<a class="exit"><span class="ico-CLOSE"></span></a>
				<h2>Dziękujemy!</h2>
				<p>Twoja aplikacja została przesłana do pracodawcy. Jej potwierdzenie otrzymasz na podany adres e-mail: twoj@e-mail.com. Zastrzegamy sobie prawo do kontaktu z wybranymi kandydatami.</p>
				<p><a href="/oferty-pracy" class="button">PRZEJDŹ DO OFERTY PRACY</a>
			
			
			</div>
			<div class="container">
				{{include('JoblandBundle:Blog:header.html.twig')}}
				
				
				
				<div class="main-wrapper">
					<div class="main">
						<div class="localizer">
							<ul>
								<li>
									<a href="/">HOME</a>
								</li>
								<li>
									<a href="/jak-dziala">Dla pracowników i kandydatów</a>
								</li>
								<li>
									<a href="/oferty-pracy">Oferty pracy</a>
								</li>
								<li>
									<a href="/aplikuj">Aplikuj</a>
								</li>
							</ul>
						</div>
						<div class="clear">
							<div class="sidebar-wrapper">
								<div class="sidebar">
									<p id="sidebar-trigger">Dla Kandydatów</p>
									
									<ul>
										
										<li>
											<a href="/jak-dziala" >Jak działa Jobland.pl?</a>
										</li>
										<li>
											<a href="/oferty-pracy" class="active">Oferty Pracy</a>
										</li>
										<li>
											<a href="/faq">FAQ dla wyjeżdzających</a>
										</li>
										<li>
											<a href="/porady-wskazowki">Porady i wskazówki</a>
										</li>
									</ul>
								</div>
							</div>

							<div class="content-wrapper">
								<div class="content">
									<h1>APLIKUJ NA WYBRANĄ OFERTĘ PRACY</h1>
									<div class="shadow">
									<div class="apply-panel">
										<h2>Aby przesłać aplikację wypełnij poniższy formularz:</h2>
										{{ form_start(form) }}	
													{{ form_errors(form) }}
											<ul>
												<li>
													{{ form_widget(form.name, {'attr': {'class': 'text', 'placeholder': 'Imię*'}}) }}
												</li>
												<li>
													{{ form_widget(form.surname, {'attr': {'class': 'text', 'placeholder': 'Nazwisko*'}}) }}
												</li>
												<li>
													{{ form_widget(form.email, {'attr': {'class': 'text', 'placeholder': 'Email*'}}) }}
												</li>
												<li>
													{{ form_widget(form.phone, {'attr': {'class': 'text', 'placeholder': 'Numer telefonu*'}}) }}
												</li>
												<li>
														<div class="fileUpload btn btn-primary">
												    		<span>Załącz CV*</span>
												    		<button>{{ form_widget(form.cv, {'attr': {'class': 'upload'}}) }}</button>
														</div>	
												</li>
												<li>
													*Pole wymagane
												</li>
												
											
													<li>
														{{ form_widget(form.agreement, {'attr':{'checked' : 'true', 'class' : 'checkbox1'}}) }}<label for="form_agreement"><span></span><p>Wyrażam zgodę na przetwarzanie moich danych osobowych przez Jobland.pl Sp. z o.o. z siedzibą w Warszawie, ul. Okopowa 47 lokal 26, 01-059. Potwierdzam, ze zostałem(-am) poinformowany(-a) o dobrowolności podania swoich danych osobowych, prawie wglądu do swoich danych i zgłaszania poprawek.</p></label>
													</li>
													<li>
														{{ form_widget(form.newsletter, {'attr':{'checked' : 'true', 'class' : 'checkbox2'}}) }}<label for="form_newsletter"><span></span>Chcę otrzymywać newsletter z ofertami pracy Jobland.pl.</label>
													</li>
												
												
												
												<li>
													{{ form_widget(form.apply, {'label' : 'Zapisz', 'attr': {'class': 'button button-red', 'id' : 'register-button'}}) }}
												
														
												{{ form_end(form) }}

												</li>
												</ul>
											
										</form>	
										
							
									</div>
									
								</div>
							</div>
							</div>
						</div>
					</div>
				</div>
								{{include('JoblandBundle:Blog:footer.html.twig')}}
				<script src="{{asset('bundles/jobland/js/script.js')}}"></script>

			
			</div>
		</div>
	</div>
	</body>
	
</html>