<html>
	<head>
		<title>Jak działamy</title>
		<meta name="description" content=""/>
		<link rel="apple-touch-icon" sizes="180x180" href="{{asset('bundles/jobland/images/favicon/apple-touch-icon.png')}}">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-32x32.png')}}" sizes="32x32">
		<link rel="icon" type="image/png" href="{{asset('bundles/jobland/images/favicon/favicon-16x16.png')}}" sizes="16x16">
		<link rel="manifest" href="{{asset('bundles/jobland/images/favicon/manifest.json')}}">
		<link rel="mask-icon" href="{{asset('bundles/jobland/images/favicon/safari-pinned-tab.svg')}}" color="#6b6b6b">
		<meta name="theme-color" content="#ffffff">
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/style.css')}}" />
		<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/jobland/css/typicons.min.css')}}" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	</head>
	<body class="">
		<div class="container-wrapper">
			<div class="container">
				{{include('JoblandBundle:Blog:header.html.twig')}}
				
				
				<div class="main-wrapper">
					<div class="main">
						<div class="localizer">
							<ul>
								<li>
									<a href="/">Strona główna</a>
								</li>
								<li>
									<a href="/jak-dziala">Dla Kandydatów</a>
								</li>
								<li>
									<a href="/jak-dziala">Jak działamy</a>
								</li>
							</ul>
						</div>
						<div class="clear">
							<div class="sidebar-wrapper">
								<div class="sidebar">
									<p id="sidebar-trigger">Dla Kandydatów</p>
									
									<ul>
										<li>
											<a href="/jak-dziala"  class="active">Jak działa Jobland.pl?</a>
										</li>
										<li>
											<a href="/oferty-pracy">Oferty Pracy</a>
										</li>
										<li>
											<a href="/faq">FAQ dla wyjeżdzających</a>
										</li>
										<li>
											<a href="/porady-wskazowki">Porady i wskazówki</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="content-wrapper">
								<div class="content">
									<h1>JAK DZIAŁA JOBLAND.PL?</h1>

									<p><img id="img-about-us" src="{{asset('bundles/jobland/images/badges-vertical.png')}}" alt="" style="float: right; margin-left: 40px" /></p>
									
									<div class="how-work-panel">
									<h3>Jobland.pl jest serwisem przeznaczonym dla osób poszukujących pracy w kraju i za granicą. Serwis umożliwia: </h3>
									<h2>PRZEGLĄDANIE OFERTY PRACY</h2>

									
									<p>Przeglądaj oferty i odpowiadaj na nie - jeśli uważasz, że dana praca jest właśnie dla Ciebie, poinformuj pracodawcę, że interesuje Cię dana oferta. Codziennie pojawiają się nowe oferty - odwiedzaj nas regularnie. Przeglądanie ofert dostębne jest z menu <a href="dla-kandydatow/oferty-pracy">Oferty pracy</a> na górze strony.</p>
									
									<h2>Subskrypcję biuletynu</h2>

									
									<p>Jeżeli chcesz otrzymywać najnowsze oferty pracy bez rejestrowania się w bazie danych, zamów nasz biuletyn, który będziemy przesyłać na Twoją skrzynkę e-mail - wybierz opcję <a>Chceę dostawać oferty pracy</a> powyżej. Osoby zarejestrowane w bazie automatycznie subskrybują biuletyn - nie ma więc potrzeby subskrybowania, jeśli zgłosiłeś się do naszej bazy.
									<br>Aby w pełni wykorzystać możliwości, jakie daje Jobland.pl, należy regularnie przeglądać oferty pracy i odpowiadać na nie. Dlaczego? - <a>Kliknij tutaj.</a></p>
									<h2>I CO DALEJ?</h2>

									
									<p>Jeżeli Twoja kandydatura zostanie uznana za interesującą, możesz spodziewać się, że skontaktuje się z Tobą przedstawiciel pracodawcy lub innej, współpracującej z nami agencji. 
									W przypadku rekrutacji prowadzonych przez naszą partnerską agencję Central European Staffing Ltd., nasi przedstawiciele przeprowadzą Cię przez cały proces rekrutacji, aż do organizacji Twojego przyjazdu do pracodawcy.
									Jeżeli dana oferta pracy pochodzi od innej agencji, proces rekrutacyjny może się nieznacznie różnić. Jobland.pl nie ma wpływu na przebieg tych rekrutacji. Zamieszczamy jednak wyłącznie oferty pracy pochodzące od licencjonowanych agencji, działających zgodnie z prawem. Najczęściej zapewniana jest obsługa w języku polskim.
									<br><a>Dlaczego warto korzystać z agencji?</a></p>

									<p>Jeżeli uważasz, że dana oferta nie powinna się znaleźć na Jobland.pl, zgłoś to nam: <a>abuse@jobland.pl</a></p>
									<p>&nbsp</p>
									<a href="/oferty-pracy" class="button">ZOBACZ OFERTY PRACY</a></br>
									<a href="/dla-pracodawcy/newsletter" class="button">ZAPISZ SIĘ DO NEWSLETTERA</a>
									<img id="members" src="{{asset('bundles/jobland/images/badges.png')}}">
									
								</div>	
								</div>
							</div>
						</div>
					</div>
				</div>
				
				{{include('JoblandBundle:Blog:footer.html.twig')}}
				<script src="{{asset('bundles/jobland/js/script.js')}}"></script>
			
			</div>
		</div>
	</body>
</html>