{# Strona Oferty #}
{% extends 'JoblandBundle:Blog:layout.html.twig' %}

{% block title %}Oferty pracy{% endblock %}

	
				
				
				{% block content %}
				<div class="main-wrapper">
					<div class="main">
						<div class="localizer">
							<ul>
								<li>
									<a href="/">Strona główna</a>
								</li>
								<li>
									<a href="/jak-dziala">Dla Kandydatów</a>
								</li>
								<li>
									<a href="/oferty-pracy">OFERTY PRACY</a>
								</li>
							</ul>
						</div>
						<div class="clear">
							<div class="sidebar-wrapper">
								<div class="sidebar">
									<p id="sidebar-trigger">Dla Kandydatów</p>
									
									<ul>
										
										<li>
											<a href="/jak-dziala" >Jak działa Jobland.pl?</a>
										</li>
										<li>
											<a href="/oferty-pracy" class="active">Oferty pracy</a>
										</li>
										<li>
											<a href="/faq">FAQ dla wyjeżdzających</a>
										</li>
										<li>
											<a href="/porady-wskazowki">Porady i wskazówki</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="content-wrapper">
								<div class="content">
									
									<h1>OFERTY PRACY</h1>
									
									
									{% for entry in rows %}
									 {%  if entry.offerstatus == 1 %}
									<div class="works-offer-panel">
										
									
									<div class="works-offer-scroll" style="display:block;">	
									<img id="works-offer-image" src="{{asset('bundles/jobland/images/logo.png')}}">
									<h1>{{ entry.name}}</h1>
									<p id="works-offer-place">{{ entry.city}}, {{ entry.id}}</p>
									<p id="works-offer-number">REF. NO. {{ entry.id}}</p>
									<h3>EMPLOYER</h3>
									<p>{{ entry.employer}}</p>
									<h3>JOB DESCRIPTION</h3>
									<p>{{ entry.jobdescription}}</p>
									<h3>REQUREMENTS</h3>
									<p>{{ entry.requirements}}</p>
									<h3>OFFER</h3>
									<p>{{ entry.applyoffer}}</p>
									<h3>HOW TO APPLY</h3>
									<p>{{ entry.applyadress}}</p>
									<center><a href="/aplikuj/{{ entry.id }}"><button type="submit" value="APLIKUJ"/>APLIKUJ</button></a></center>
									</div>
								</div>
									{% else %}
									
									<h2> Podana oferta nie istnieje </h2>
									{% endif %}
									
									{% endfor %}
								
									</div>

									
									
								</div>
							</div>
						</div>
						</div>
						</div>
						{% endblock %}
